//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

.hidden {
  overflow: hidden;
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;

  @media screen and (max-width: $screen-sm-max) {
    font-size: 14px;
    line-height: 20px;
  }

  &.fixed {
    overflow: hidden;
  }
}

section {
  background: $white-lighten;
}

//
// Link
//
a {
  color: $link-color;
  @include transition;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    //color: $link-hover-color;
    text-decoration: none;
  }
}

//
// Images
//
img {
  max-width: 100%;
  //height: auto;
  vertical-align: middle;
}
.img--right{
  float:right;
  margin-bottom:  $line-height-computed;
  margin-left: $line-height-computed;
}
.img--left{
  float:left;
  margin-right: $line-height-computed;
  margin-bottom: $line-height-computed;
}
.img--center{
  display:block;
  margin-right:auto;
  margin-bottom: $line-height-computed;
  margin-left:auto;
}



//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}


::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.marquee-rtl,
.marquee {
  .js-marquee {
    margin-right: 3px !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.is-affixed {
  @media screen and (max-width: $screen-sm-max) {
    position: static !important;
  }
}



html.safari {

  @media screen and (min-width: $screen-md) {
    .section__scheme-inner {
      height: 104vh;
    }
    .section__scheme svg {
      margin-top: 4%;
    }
    @media screen and (min-width: $screen-xxl) {
      .schemeTitle {
        top: 24%;
      }
    }
    .section__slider {
      .swiper-slide {
        position: static !important;
        left: 0 !important;
        right: 0 !important;
        transition: all 0s !important;

        //img {
        //  transition: max-width 1.5s ease-out;
        //  margin: auto;
        //}
      }
    }
  }

}
