@mixin filter-checkbox {
  padding: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1.5px dashed #B6B6B6;
  margin-bottom: 10px;
  transition-duration: 0.5s;
  transition-property: all;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  @media screen and (min-width: $screen-md) {
    padding: 20px 30px;
    height: 70px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 23px;
  }
  &:hover {
    border: 1.5px solid $base-color-main;
  }
}
@mixin filter-checkbox--active {
  color: white;
  background-color: $base-color-main;
  border: 1.5px solid $base-color-main;
}

.filtersBody {
  &__item {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: $white;
    height: 0;
    overflow: hidden;
    transition: height .5s;
    z-index: 1009;
    &.active {
      height: 100%;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      height: 100%;
      overflow-y: auto;
      h1 {
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: $screen-md) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
        @media screen and (min-height: 800px) and (min-width: $screen-md) {
          margin-top: 70px;
          margin-bottom: 80px;
        }
      }
    }
    &-close {
      top: 20px;
      right: 15px;
      position: absolute;
      background: white;
      height: 45px;
      width: 45px;
      border-radius: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      overflow: hidden;
      cursor: pointer;
      z-index: 99;
      @media screen and (min-width: $screen-md) {
        top: 30px;
        right: 30px;
        height: 65px;
        width: 65px;
      }
      @media screen and (min-height: 800px) and (min-width: $screen-md) {
        top: 70px;
        right: 70px;
      }
      i {
        color: $black;
        position: relative;
        z-index: 9;
      }
      &:after {
        content: '';
        width: 100%;
        height: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: $base-color-main;
        transition: height .5s;
      }
      &:hover {
        i {
          color: white;
        }
        &:after {
          height: 100%;
        }
      }
    }
    &-top {
      position: relative;
      @media screen and (min-width: $screen-md) {
        height: calc(100vh - 141px);
        overflow: auto;
        @media screen and (min-width: $screen-md-min) {
          &::-webkit-scrollbar {
            width: 7px;
          }
          &::-webkit-scrollbar-thumb {
            background: $base-color-main;
          }
          &::-webkit-scrollbar-track:vertical {
            background: white;
            border-left: 1px solid #e3e3e3;
          }
          &,
          & * {
            scrollbar-color: $base-color-main white;
            scrollbar-width: thin;
            scrollbar-base-color: white;
            scrollbar-face-color: $base-color-main;
            scrollbar-3dlight-color: white;
            scrollbar-highlight-color: white;
            scrollbar-track-color: white;
            scrollbar-arrow-color: white;
            scrollbar-shadow-color: $base-color-main;
            scrollbar-width: 7px;
          }
          & *::-webkit-scrollbar{
            width: 7px;
          }
          & *::-webkit-scrollbar-thumb {
            background: $base-color-main;
          }
          & *::-webkit-scrollbar-track:vertical {
            background: white;
            border-left: 1px solid #e3e3e3;
          }
        }
      }
    }
    &-bottom {
      border-top: 1px solid $black;
      padding: 20px 0;
      @media screen and (min-width: $screen-md) {
        padding: 35px 0;
      }

      .btn {
        background-color: #DFDFDF;
        i {
          position: absolute;
          right: 40px;
        }
      }
    }
  }
  &-checkboxes {
    input {
      display: none;
    }
    label {
      @include filter-checkbox();
      position: relative;
      z-index: 0;

      &::before {
        position: absolute;
        z-index: -1;
        top: -1.5px;
        bottom: -1.5px;
        left: -1.5px;
        right: -1.5px;
        transform-origin: center top;
        transform: scaleY(0);
        content: '';

        background-color: $base-color-main;
        transition-property: all;
        transition-duration: inherit;
      }

      &:hover {
        border: 1.5px dashed transparent;
        color: white;

        &::before {
          transform: scaleY(1);
        }
      }
    }
    input:checked + label {
      border: 1.5px dashed transparent;
      color: white;

      &::before {
        transform: scaleY(1);
      }
    }
  }
}
