// var
$breakpoint-1: 768px;
$color-border: #DADADA;
$color-active: #DF0112;
$color-background: white;
$border-width: 1px;

.landing__tabs {

    // component
    &-component {
        background-color: $color-background;
        border: #{$border-width} solid $color-border;
    }

    // panel
    &-panel-list {
        position: relative;
        z-index: 0;
        margin: -#{$border-width} -#{$border-width} 0 -#{$border-width};
        display: flex;
        align-items: stretch;

        border-bottom: #{$border-width} solid $color-border;
    }
    &-panel-item {
        $transition-duration: 0.5s;

        position: relative;
        z-index: 0;
        margin-bottom: -#{$border-width};
        padding: 10px 15px;
        width: calc((100% / 4) + #{$border-width});
        height: 60px;
        @media (min-width: $breakpoint-1) {
            height: 180px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        
        border: #{$border-width} solid $color-border;
        cursor: pointer;

        &::before {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: flex;
            width: 13px;
            height: 4px;
            @media (min-width: $breakpoint-1) {
                width: 40px;
                height: 11px;
            }

            background-image: url('../images/landing/tab-arrow.svg');
            background-size: 100% auto;
            opacity: 0;
        }

        &:not(:first-child) {
            margin-left: -#{$border-width};
        }

        &--active {
            z-index: 1;

            border-color: $color-active;
            transition: $transition-duration;

            &::before {
                opacity: 1;
                transition: $transition-duration;
            }
        }
    }
    &-panel-img {
        max-width: 100%;
        max-height: 100%;
    }

    // content
    &-content-list {
        margin: 0;
    }
    &-content-item {
        display: none;

        &--active {
            display: block;
        }
    }

    // content item grid
    &-content-row {
        padding: 20px 0;
        @media (min-width: $breakpoint-1) {
            padding: 50px 0;
            display: flex;
            align-items: flex-start;
        }
    }
    &-content-col {
        padding: 0 20px;
        @media (min-width: $breakpoint-1) {
            width: 50%;
        }

        &:first-child {
            @media (min-width: $breakpoint-1) {
                padding: 0 90px;
            }
        }

        &:last-child {
            margin-top: 10px;
            @media (min-width: $breakpoint-1) {
                margin-top: 0;
                padding-right: 65px;
            }
        }
    }

    // content item
    &-content-title {
        margin: 0;
    }
    &-content-text {
        margin: 0;
    }
}