.approach {
  .revealOut {
    padding-bottom: 0;
  }
  h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 60px;
      font-size: 25px;
      line-height: 37px;
      margin-top: 0;
    }
    @media screen and (min-width: $screen-lg) {
      margin-bottom: 100px;
    }
  }
  p {
    font-size: 14px;
    line-height: 21px;
    @media screen and (min-width: $screen-md) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .newsOne-slider {
    margin-top: 0;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 55px;
    }
    &:after {
      display: none;
    }
    .marquee {
      bottom: -60px;
      width: 240%;
    }
  }
  &-content {
    position: relative;
    @media screen and (min-width: $screen-md) {
      padding-left: 100px;
    }
    .mainNews-index-img:before {
      background-color: white;
    }
    h4 {
      @media screen and (min-width: $screen-md) {
        margin-top: -30px;
        font-size: 25px;
      }
    }
    @media screen and (min-width: $screen-md) {
      &:after {
        content: '';
        position: absolute;
        left: -50%;
        right: -50%;
        top: 44%;
        border-top: 1px dashed #0084FF;
        z-index: -1;
      }
    }
  }

  &-list {
    position: relative;
    @media screen and (min-width: $screen-md) {
      .marquee-rtl {
        position: absolute;
        height: 11px;
        left: -50%;
        right: -50%;
        display: flex;
        align-items: center;
        //background: url("../images/icons/triangleLine.svg") repeat-x center;
        img {
          max-width: none;
        }
        .js-marquee,
        > div {
          display: flex;
          margin-right: 0 !important;
        }
      }
    }
    .marquee-top {
      top: 0;
      display: none;
      @media screen and (min-width: $screen-md) {
        top: 29%;
        display: block;
      }
      @media screen and (min-width: $screen-lg) {
        top: 50%;
      }
      @media screen and (min-width: $screen-xl) {
        top: 35%;
      }
    }
    .marquee-bottom {
      bottom: 0;
      display: none;
      @media screen and (min-width: $screen-md) {
        display: block;
      }
      @media screen and (min-width: $screen-xl) {
        bottom: 10%;
      }
    }
    &__item {
      position: relative;
      padding-top: 20px;
      padding-left: 50px;
      margin-bottom: 30px;
        @media screen and (min-width: $screen-md) {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 30px;
        margin-bottom: 80px;
      }
      @media screen and (min-width: $screen-xl) {
        margin-bottom: 120px;
      }
      &-num {
        font-size: 35px;
        color: $color-type-2a;
        position: absolute;
        top: 0;
        left: 0;
      }
      &-txt {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &-desc {
    @media screen and (min-width: $screen-md) {
      margin-top: 120px;
    }
    h4 {
      margin-bottom: 20px;
    }
  }
  &-predesc {
    @media screen and (min-width: $screen-md) {
      padding-left: 100px;
      margin-top: 120px;
    }
  }

  &-video {
    position: relative;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 130px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -50%;
      right: -50%;
      top: 50%;
      border-top: 1px dashed #0084FF;
      z-index: -1;
    }
    @media screen and (min-width: $screen-md) {
      .marquee-rtl {
        position: absolute;
        height: 11px;
        left: -50%;
        right: -50%;
        bottom: -60px;
        img {
          max-width: none;
        }
        .js-marquee,
        > div {
          display: flex;
          margin-right: 0 !important;
        }
      }
    }
    &-link {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 9;
      margin: auto;
      cursor: pointer;
      transition: transform .5s;
      width: 82px;
      height: 82px;

      @media screen and (min-width: $screen-md) {
        height: 168px;
        width: 168px;
      }
      &:before {
        content: '';
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 30px 74px rgba(0, 0, 0, 0.45);
        width: 82px;
        height: 82px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        @media screen and (min-width: $screen-md) {
          height: 168px;
          width: 168px;
        }
      }
      &:after {
        content: '';
        height: 22px;
        width: 22px;
        position: absolute;
        top: 0;
        left: 8px;
        right: 0;
        bottom: 0;
        margin: auto;
        background: url("../images/icons/video.svg") no-repeat center / cover;
        transition: all .5s;
        @media screen and (min-width: $screen-md) {
          height: 52px;
          width: 45px;
        }
      }
      img {
        transition: transform .5s;
      }
      &:hover {
        img {
          transform: rotate(90deg) scale(1.1);
        }
        &:after {
          background: url("../images/icons/videoHover.svg") no-repeat center / cover;
        }
      }
    }
  }

  &-catalog {
    padding-bottom: 60px;
    @media screen and (min-width: $screen-md) {
      padding-bottom: 110px;
    }
    h4 {
      margin-bottom: 60px;
    }
    .cardLink {
      margin-top: 40px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
        margin-top: 100px;
        margin-bottom: 0;
      }
    }
    .marquee {
      position: absolute;
      left: -50%;
    }
  }


  @media screen and (max-width: $screen-sm-max) {
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}

.redLine {
  margin-top: 17px;
  border-top: 1.5px solid $color-type-2a;
}


@media screen and (min-width: $screen-md) {
  .additLine {
    padding-left: 100px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 17px;
      width: 70px;
      height: 1.5px;
      background-color: $base-color-main;
    }
  }
}

.cardLink {
  &__item {
    display: block;
    padding: 20px;
    background-color: $white;
    position: relative;
    margin-bottom: 10px;
    height: 145px;
    transition: color .5s;
    //transition: background-color .5s;
    @media screen and (min-width: $screen-md) {
      height: 130px;
    }
    &:before {
      content: '';
      width: 100%;
      top: 0;
      height: 0;
      left: 0;
      right: 0;
      transition: height .5s;
      position: absolute;
      background-color: $base-color-main;
    }
    > * {
      position: relative;
      z-index: 2;
    }
    @media screen and (min-width: $screen-md) {
      margin-bottom: 40px;
      padding: 50px;
      height: 300px;
    }
    &-title {
      font-weight: 800;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      font-family: 'HalvarBreit-XBd';
      border-top: 1px solid $black;
      padding-top: 10px;
      transition: border-color .5s;
      @media screen and (min-width: $screen-md) {
        font-size: 20px;
        padding-top: 20px;
      }
    }
    &-link {
      position: absolute;
      right: 20px;
      bottom: 20px;
      transition: color .5s;
      @media screen and (min-width: $screen-md) {
        right: 50px;
        bottom: 50px;
      }

      &:before {
        content: '';
        width: 80px;
        top: 10px;
        height: 1px;
        right: 14px;
        transition: width .5s, background-color .5s;
        position: absolute;
        background-color: $black;
      }
    }
    &:hover {
      color: white;
      &:before {
        height: 100%;
        //background-color: $base-color-main;
      }
      .cardLink__item-title {
        border-color: white;
      }
      .cardLink__item-link {
        color: $color-type-2a;
        &:before {
          width: 100px;
          background-color: $color-type-2a;
        }
      }
    }
  }
}
