.card {
  &-tabs {
    &__left {
      padding-left: 0;
      div {
        padding-left: 15px;
      }
      .aside-menu li:last-child a {
        margin: 0;
        padding: 0;
      }
    }
  }
  .table {
    th,
    td {
      width: 60px;
      &:first-child,
      &:nth-child(2) {
        width: 210px;
      }
    }
  }
  .revealOut {
    padding-bottom: 0;
  }
  &-logo {
    position: absolute;
    left: 0;
    top: 20px;
    width: 80px;
    @media screen and (min-width: $screen-md) {
      width: 20%;
    }
    @media screen and (min-width: $screen-lg) {
      width: auto;
    }
    @media screen and (min-width: $screen-xl) {
      top: 45px;
    }
  }
  &-tags {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    @media screen and (min-width: $screen-md) {
      right: 50px;
    }
    @media screen and (min-width: $screen-xl) {
      top: 45px;
    }
    div + div {
      margin-left: 12px;
    }
  }
  &-shares {
    display: flex;
    @media screen and (min-width: $screen-md) {
      display: block;
      right: 45px;
      top: 95px;
      position: absolute;
    }
    > * {
      height: 33px;
      width: 33px;
      border-radius: 50px;
      border: 1px solid #DADADA;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s;
      overflow: hidden;
      position: relative;
      background-color: white;
      @media screen and (min-width: $screen-md) {
        height: 48px;
        width: 48px;
      }
      > * {
        position: relative;
        z-index: 9;
      }
      &:before {
        content: '';
        background-color: #0000FF;
        position: absolute;
        left: 0;
        right: 0;
        top: -1px;
        height: 0;
        transition: height .5s;
      }
      &:hover {
        border-color: $black;
      }
    }
  }
  &-share-icon {
    margin-right: 10px;
    color: #0000FF;
    font-size: 14px;
    transition: opacity .5s, border-color .5s;
    @media screen and (min-width: $screen-md) {
      opacity: 0;
      visibility: hidden;
      margin-top: 10px;
      margin-right: 0;
      font-size: 19px;
    }
    &:active {
      color: white;
      border-color: #0000FF;
      &:before {
        height: 110%;
      }
    }
    .icon-vkontakte {
      font-size: 11px;
      @media screen and (min-width: $screen-md) {
        font-size: 14px;
      }
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
    > * {
      @extend .col__md-6;
      @extend .col__xs-12;
      @media screen and (min-width: $screen-md) {
        margin-left: -1px;
      }
    }
    > .card-btn--full {
      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      .btn {
        @media screen and (min-width: $screen-md) {
          height: 70px;
        }
      }
    }
    .btn {
      justify-content: space-between;
      color: $black;
      background-color: white;
      border: 1px solid #DADADA;
      height: 50px;
      padding: 20px 40px;
      text-align: left;
      i {
        font-size: 13px;
        color: $base-color-main;
        transition: color .5s;
        .contacts-desc {
          padding: 10px;
          @media(max-height: 400px){
            padding-bottom: 15px;
          }
        }
      }
      &:hover {
        color: white;
        i {
          color: white;
        }
      }
      @media screen and (min-width: $screen-md) {
        height: 90px;
      }
    }
  }
  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    overflow: hidden;
    @media screen and (min-width: $screen-md) {
      border-top: 1px solid #DADADA;
      border-bottom: 1px solid #DADADA;
    }
    hr {
      border: none;
      border-top: 1px solid #DADADA;
      width: 150%;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    &__left {
      @extend .col__md-6;
      @extend .col__xs-12;
      position: relative;
      > div {
        @media screen and (max-width: $screen-sm-max) {
          position: static !important;
        }
        padding: 60px 30px 20px;
        @media screen and (min-width: $screen-md) {
          padding: 70px 25px 40px 25px;
          display: flex;
          flex-direction: column;
          min-height: calc(100vh - 91px);
        }
        @media screen and (min-width: $screen-xl) {
          padding: 40px 50px 80px 85px;
        }
        .sidebar__inner-bottom {
          margin-top: auto;
        }
      }
      @media screen and (min-width: $screen-md) {
        img {
          margin-bottom: 30px;
        }
      }
      .btn i {
        position: absolute;
        right: 40px;
      }
      h3 {
        margin-bottom: 40px;
      }
    }
    &__right {
      padding: 20px;
      @extend .col__md-6;
      @extend .col__xs-12;
      font-size: 14px;
      line-height: 21px;
      @media screen and (min-width: $screen-md) {
        border-left: 1px solid #DADADA;
        padding: 25px 25px 40px 25px;
        font-size: 18px;
        line-height: 30px;
      }
      @media screen and (min-width: $screen-xl) {
        padding: 40px 50px 80px;
      }
      h1 {
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 24px;
        text-transform: none;
        font-family: $headings-font-family;
        @media screen and (min-width: $screen-md) {
          font-size: 34px;
          line-height: 50px;
        }

      }
      .list--unstyled {
        font-size: 14px;
        line-height: 21px;
        @media screen and (min-width: $screen-md) {
          font-size: 16px;
          line-height: 24px;
        }
        li {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          .image {
            margin-right: 35px;
            width: 33px;
            text-align: center;
          }
        }
      }
    }
  }

  &-desc {
    background-color: #F6F6F6;
    .t__content:before, .t__wrapper:before {
      background-color: #F6F6F6;
    }
  }
  &-scheme {
    padding: 50px 0;
    @media screen and (min-width: $screen-md) {
      padding: 140px 0 130px;
    }
    .col {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }
    &__item {
      padding: 20px;
      border: 1px solid $black;
      height: 100%;
      @media screen and (min-width: $screen-lg) {
        padding: 40px 50px;
      }
      h3 {
        margin-top: 0;
        margin-bottom: 30px;
        @media screen and (min-width: $screen-md) {
          margin-bottom: 40px;
        }
      }
      .list--unstyled {
        li {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 30px;
          @media screen and (min-width: $screen-md) {
            //margin-bottom: 40px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:first-child {
            margin-bottom: 38px;
          }
          .image {
            width: 40px;
            text-align: center;
            margin-right: 20px;
            @media screen and (min-width: $screen-md) {
              margin-right: 50px;
            }
            img {
              vertical-align: middle;
            }
          }
          a {
            position: relative;
            padding-bottom: 8px;
            &:after {
              content: '';
              width: 100%;
              height: 1px;
              left: 0;
              bottom: 0;
              position: absolute;
              background-color: $black;
            }
          }
        }
      }
      &--full {
        h3 {
          margin-bottom: 30px;
        }
        .list--unstyled {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 100%;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
            @media screen and (min-width: $screen-md) {
              width: 50%;
            }
            @media screen and (min-width: $screen-lg) {
              width: 33%;
            }
          }
        }
      }
    }
  }

  &-slider {
    padding-top: 40px;
    @media screen and (min-width: $screen-md) {
      padding-top: 140px;
    }

    .marquee {
      position: absolute;
      left: -50%;
      bottom: 0;
      @media screen and (min-width: $screen-md) {
        bottom: 40px;
      }
    }
    .newsOne-slider {
      padding-bottom: 102px;
      .swiper-button {
        @media screen and (max-width: $screen-sm-max) {
          bottom: 107px;
        }
      }
      &:after {
        display: none;
      }
    }

    .tabs {
      position: relative;
    }
    .tab {
      color: $black;
      font-weight: 500;
      font-size: 18px;
      line-height: 37px;
      text-transform: uppercase;
      font-family: 'StratosLCWeb-Medium';
      position: relative;
      @media screen and (min-width: $screen-md) {
        font-size: 25px;
      }
      &:after {
        content: '';
        height: 4px;
        width: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        transition: width .5s;
        background-color: $color-type-2a;
      }
      + .tab {
        margin-left: 50px;
      }
      &.active,
      &:hover {
        color: $black;
        &:after {
          width: 100%;
        }
      }
    }
  }

  &-carousel {
    &.trademark-tabs {
      .swiper-button {
        top: -50px;
        @media screen and (min-width: $screen-lg) {
          top: 17px;
        }
      }
      .descList__item {
        width: 100%;
        height: 250px;
        @media screen and (min-width: $screen-md) {
          height: 350px;
        }
      }
      .swiper-slide {
        width: 290px;
        @media screen and (min-width: $screen-md) {
          width: 620px;
        }
      }
    }
    + .contacts-form {
      padding-top: 0;
    }
  }

}

.basecontent {
  padding: 20px;
  background-color: white;
  border: 1px solid #DADADA;
  margin-left: -20px;
  margin-right: -20px;
  .list--dots > li {
    padding-left: 44px;
  }
  @media screen and (min-width: $screen-md) {
    padding: 50px;
    margin: 0;
  }
  .firstTitle {
    margin-left: 44px;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'StratosLCWeb-Regular';
    @media screen and (min-width: $screen-md) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  p,
  li {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 21px;
    @media screen and (min-width: $screen-md) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  * + h5 {
    margin-top: 30px;
    @media screen and (min-width: $screen-md) {
      margin-top: 60px;
    }
  }
}

.steps-form-valid,
.steps-form {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  @media screen and (min-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
  h5 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 40px;
  }
  div + h4 {
    margin-top: 40px;
  }
  label {
    @media screen and (min-width: $screen-md) {
      font-size: 16px;
    }
    //line-height: 30px;
    color: $black;
    &.form__group {
      margin-top: 10px;
    }
  }
  .checkbox,
  .radio {
    label {
      line-height: 30px;
    }
  }

  .btn i {
    position: absolute;
    right: 40px;
  }
}

.stepper-btn {
  position: absolute;
  right: -20px;
  top: 50px;
  left: -20px;
  @media screen and (min-width: $screen-md) {
    top: 90px;
    left: auto;
    right: 0;
    width: 100%;
  }
  @media screen and (min-width: $screen-lg) {
    top: 0;
    width: 32.5%;
  }
  .btn {
    height: 70px;
    text-align: left;
    color: $black;
    width: 100%;
    justify-content: space-between;

    @media screen and (max-width: $screen-sm-max) {
      padding-left: 30px;
      padding-right: 30px;
    }
    i {
      font-size: 13px;
      color: $base-color-main;
      transition: color .5s;
    }
    span {
      color: $black;
    }
    &:hover {
      color: white;
      span, i {
        color: white;
      }
    }
    @media screen and (min-width: $screen-md) {
      border: 1px solid #DADADA;
      height: 90px;
    }
    small {
      font-size: 12px;
    }
  }
}


.sticky {
  width: 100%;
  left: 0;
  top: 0;
  padding: 60px 20px 20px;
  @media screen and (max-width: $screen-sm-max) {
    position: static !important;
  }
  @media screen and (min-width: $screen-md) {
    padding: 70px 25px;
  }
  @media screen and (min-width: $screen-xl) {
    padding: 40px 50px 50px 85px;
  }
}
.sticky1 {
  top: 0;
  transition: all .5s;
  @media screen and (max-width: $screen-sm-max) {
    position: static !important;
  }
}
