.catalog {
  background: $white;
  position: relative;
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background: $white;
  }
  > * {
    //position: relative;
    //z-index: 9;
  }
  &-main {
    background: white;
    padding-bottom: 50px;
    @media screen and (min-width: $screen-md) {
      margin-top: 50px;
      padding-bottom: 140px;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      + .catalog-main-row {
        margin-top: 30px;
        @media screen and (min-width: $screen-md) {
          margin-top: 80px;
        }
      }
      &-first {
        .catalog-main__left {
          border-top: 1px solid #DADADA;
        }
      }
    }
    &__left {
      @media screen and (max-width: $screen-sm-max) {
        position: fixed;
        width: 96%;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        left: -100%;
        z-index: 1009;
        background-color: $white;
        transition: left .5s;
        //&:after {
        //  content: '';
        //  background-color: rgba(0, 0, 0, 0.2);
        //  width: 10%;
        //  left: 100%;
        //  top: 0;
        //  bottom: 0;
        //  z-index: 99;
        //}
      }
      > div {
        @media screen and (min-width: $screen-md) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 0;
          overflow-y: auto;
          @media screen and (min-width: $screen-md) {
            min-height: calc(100vh - 170px);
          }
        }
      }
      @media screen and (min-width: $screen-md) {
        width: 100%;
        position: relative;
        width: 270px;
      }
      @media screen and (min-width: $screen-lg) {
        width: 370px;
      }
      &.active {
        @media screen and (max-width: $screen-sm-max) {
          left: 0;
        }
      }
      h1 {
        display: block;
        padding-left: 15px;
        @media screen and (min-width: $screen-md) {
          display: none;
        }
      }
    }
    &__right {
      width: 100%;
      @media screen and (min-width: $screen-md) {
        width: calc(100% - 270px);
      }
      @media screen and (min-width: $screen-lg) {
        width: calc(100% - 370px);
      }
    }
  }
  &-menu {
    padding: 0 20px;
    font-size: 16px;
    line-height: 27px;
    @media screen and (min-width: $screen-md) {
      padding: 20px;
      //border-top: 1px solid #DADADA;
    }
    @media screen and (min-width: $screen-lg) {
      padding: 20px 20px 20px 50px;
    }
    &-mobile {
      display: block;
      width: 100%;
      padding: 0 15px;
      font-family: 'StratosLCWeb-Medium';
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      a {
        padding-bottom: 0 !important;
        display: block !important;
        &:before {
          display: none;
        }
        span:after {
          content: "\e905";
          font-family: icomoon;
          color: #0000BD;
          font-size: 16px;
          margin-left: 8px;
          position: absolute;
          transition: all .5s;
          right: 0;
        }
      }
      @media screen and (min-width: $screen-md) {
        display: none;
      }
    }
    &-close {
      height: 44px;
      width: 44px;
      border-radius: 50px;
      position: absolute;
      top: 20px;
      right: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-y: hidden;
      background-color: white;
      i {
        color: $black;
        position: relative;
        z-index: 9;
      }
      &:after {
        content: '';
        width: 100%;
        height: 0;
        left: 0;
        right: 0;
        top: 0;
        position: absolute;
        background-color: $base-color-main;
        transition: height .5s;
      }
      &:hover {
        i {
          color: white;
        }
        &:after {
          height: 100%;
        }
      }
      @media screen and (min-width: $screen-md) {
        display: none !important;
      }
    }
    &__item {
      margin-top: 20px;
      margin-bottom: 20px;
      > a {
        position: relative;
        display: inline;
        padding-bottom: 8px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 1.5px;
          background-color: #DADADA;
          transition: all .5s;
        }
        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 1.5px;
          z-index: 1;
          background-color: $color-type-2a;
          transition: width .5s, height .5s;
        }
      }
      &:hover {
        > a {
          &:after {
            width: 100%;
            //background-color: $color-type-2a;
          }
        }
      }
      &--parent {
        margin-bottom: 12px;
        > a {
          i {
            //content: "\e905";
            //font-family: icomoon;
            color: $base-color-main;
            font-size: 10px;
            margin-left: 8px;
            top: 8px;
            position: absolute;
            transform: rotate(0);
            transition: transform .5s, color .5s;
          }
        }
        &:active,
        &.active {
          > a {
            &:before {
              height: 4px;
              background-color: $color-type-2a;
            }
            i {
              //font-size: 9px;
              //content: "\e906";
              color: $color-type-2a;
              transform: rotate(180deg);
            }
          }
        }
        &.active {
          > .catalog-menu-sub {
            padding-top: 15px;
            padding-bottom: 8px;
            max-height: 500px;
            transition: padding-top .1s linear 0s;
          }
        }
      }
    }
    &-sub {
      line-height: 20px;
      padding-left: 30px;
      font-size: 14px;
      transition: max-height .5s, padding-top .1s linear .3s;
      max-height: 0;
      overflow: hidden;
      .catalog-menu__item {
        margin-top: 0;
        margin-bottom: 0;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        &--parent {
          i {
            margin-left: 25px;
            top: 6px;
          }
        }
      }
    }
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #DADADA;
    //margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      border-left: 1px solid #DADADA;
      //margin-bottom: 80px;
    }
    &__item {
      width: 100%;
      position: relative;
      display: block;
      @media screen and (min-width: $screen-md) {
        max-height: 350px;
        -webkit-perspective: 1500px;
        perspective: 1500px;
      }
      @media screen and (min-width: $screen-xl) {
        width: 50%;
      }
      &-inner {
        border-bottom: 1px solid #DADADA;
        border-right: 1px solid #DADADA;
        padding: 20px;
        height: 100%;
        background-color: white;
        @media screen and (min-width: $screen-md) {
          padding: 45px 20px 26px 30px;
        }
        .ellipsis {
          padding-right: 25px;
        }
        .list--inline > li {
          margin-right: 15px;
          margin-top: 2px;
          margin-left: 0 !important;
          &:last-child {
            margin-right: 0;
          }
        }
        .row {
          height: 100%;
        }
      }
      &:hover {
        z-index: 9;
        .catalog-content__item-inner {
          border: none;
          -webkit-transform: rotateX(var(--mouseX)) rotateY(var(--mouseY));
          transform: rotateX(var(--mouseX)) rotateY(var(--mouseY));
          transition: box-shadow .5s ease, transform 0.15s;
          box-shadow: 0 20px 40px rgba(23,38,47,.3), inset 0 0 0 1px #DADADA;
        }
      }
      > .row {
        height: 100%;
      }
      ul {
        margin-bottom: 0;
        display: none;
        @media screen and (min-width: $screen-md) {
          display: inline-block;
        }
      }
      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 50px;
        @media screen and (min-width: $screen-md) {
          margin-bottom: 20px;
        }
      }
      .tags {
        font-size: 14px;
        line-height: 18px;
        text-transform: lowercase;
        display: flex;
        margin-bottom: 20px;
        div + div {
          margin-left: 20px;
        }
      }
    }
    .flex-middle {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-link {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 50px;
    margin-top: auto;
    align-items: center;
    font-family: 'StratosLCWeb-Medium';
    border-bottom: 1px solid $black;
    margin-bottom: 30px;
    display: none;
    position: relative;
    @media screen and (min-width: $screen-md) {
      display: inline-flex;
    }
    &:after {
      content: '';
      background-color: $color-type-2a;
      left: 0;
      right: 0;
      bottom: -1px;
      width: 0;
      height: 1px;
      position: absolute;
      transition: width .5s;
    }
    img {
      //margin-left: 15px;
      //font-size: 25px;
      //color: $color-type-2a;
      margin-right: -10px;
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
  &-text {
    margin-top: 50px;
    padding: 0 15px;
    @media screen and (min-width: $screen-md) {
      margin-top: 140px;
    }
    &__inner {
      overflow: hidden;
      max-height: 200px;
      position: relative;
      transition: max-height .5s;
      @media screen and (min-width: $screen-md) {
        max-height: 370px;
      }
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 4%, rgba(0, 0, 0, 0) 100%);
        @media screen and (min-width: $screen-md) {
          background: linear-gradient(0deg, rgba(255, 255, 255, 1) 44%, rgba(0, 0, 0, 0) 100%);
        }
      }
      &.active {
        max-height: 1000px;
        &:after {
          display: none;
        }
      }
    }
    &__link {
      font-size: 18px;
      line-height: 23px;
      color: $base-color-main;
      cursor: pointer;

      i {
        font-size: 10px;
        margin-left: 9px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.filter {
  background: $white;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  transition: all .5s;
  &-body {
    min-height: 100px;
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: $screen-lg) {
      flex-wrap: nowrap;
    }
  }
  &.fixed {
    @media screen and (min-width: $screen-lg) {
      position: fixed;
      left: 0;
      right: 0;
      top: 90px;
      z-index: 99;
      border-top: 1px solid #DADADA;
    }
  }
  &:after {
    content: '';
    background-color: $white;
    left: -100%;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
  }
  @media screen and (min-width: $screen-md) {
    flex-wrap: nowrap;
    padding-top: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $black;
    padding-bottom: 16px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    transition: all .5s;
    @media screen and (min-width: $screen-md) {
      width: 29%;
      margin-right: 30px;
      margin-bottom: 10px;
    }
    @media screen and (min-width: $screen-lg) {
      width: 21%;
    }
    @media screen and (min-width: $screen-xl) {
      margin-bottom: 0;
      width: auto;
    }
    @media screen and (min-width: $screen-xl) {
      &[data-type="industry"] {
        max-width: 170px;
      }
      &[data-type="material"] {
        max-width: 270px;
      }
      &[data-type="equipment"] {
        max-width: 240px;
      }
      &[data-type="technology"] {
        max-width: 280px;
      }
    }
    &-error {
      font-size: 11px;
      line-height: 24px;
      padding: 10px;
      font-family: 'StratosLCWeb-Regular';
      color: $black;
      display: none;
      position: absolute;
      top: 121%;
      left: 0;
      right: 0;
      width: 230px;
      margin: auto;
      background-color: white;
      text-align: center;
      box-shadow: 0px 12px 29px rgba(0, 0, 0, 0.1);
      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent white transparent;
      }
    }
    span {
      font-family: 'StratosLCWeb-Medium';
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media screen and (min-width: $screen-md) {
        font-size: 16px;
      }
    }
    b {
      font-size: 10px;
      line-height: 13px;
      position: absolute;
      right: 20px;
      top: -5px;
    }
    i {
      font-size: 20px;
      color: $base-color-main;
      margin-left: 20px;
      transition: transform .5s, color .5s;
    }
    &:last-child {
      border-bottom: 1px solid transparent !important;
      margin-bottom: 0;
      justify-content: center;
      font-size: 12px;
      line-height: 15px;
      span {
        @media screen and (min-width: $screen-md) {
          font-size: 14px;
          line-height: 18px;
        }
      }
      @media screen and (min-width: $screen-lg) {
        margin-left: auto;
      }
    }
    &:hover {
      //border-color: $color-type-2a;
      border-bottom: 1px solid $color-type-2a;
      i {
        color: $color-type-2a;
        transform: rotate(180deg);
      }
    }
    &.active {
      border-bottom: 4px solid $color-type-2a;
      i {
        color: $color-type-2a;
      }
    }

    &.disabled {
      color: rgba($black, .5);
      border-color: rgba($black, .5);
      i {
      color: rgba($base-color-main, .5);
      }
    }
  }
}

.filter.fixed {
  + .catalog-main .is-affixed {
    margin-top: 20px;
  }
}



.ellipsis {
  overflow: hidden;
  height: 148px;
}

.ellipsis:before {
  content:"";
  float: left;
  width: 5px;
  height: 148px;
}

.ellipsis > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.ellipsis:after {
  content: "\02026";
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;

  float: right; position: relative;
  top: -25px; left: 100%;
  width: 27px; margin-left: -27px;
  padding-right: 5px;
  text-align: center;
  background: white;
}
