.contacts {
  .btn--info {
    height: 40px;
    font-size: 14px;
  }
  &-title {
    h4 {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 20px;
      margin-top: 0;
      @media screen and (min-width: $screen-md) {
        font-family: 'StratosLCWeb-Regular';
        margin-bottom: 40px;
        font-size: 25px;
      }
    }
  }
  &-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
    > .row {
      width: 100%;
      margin-top: 20px;
      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }
    }
    .arrowLine {
      //margin-top: 20px;
      @media screen and (min-width: $screen-md) {
        margin-top: 50px;
      }
    }
    &--last {
      @media screen and (min-width: $screen-md) {
        margin-left: -40px;
      }
    }
    p {
      margin-bottom: 0;
    }
    .social {
      margin-bottom: 0;
      margin-top: 15px;
      @media screen and (min-width: $screen-md) {
        margin-top: 35px;
      }
    }
    .btn--info {
      @media screen and (min-width: $screen-md) {
        margin-top: 35px;
      }
    }
  }
  .text__sm {
    font-size: 14px;
  }
  a {
    font-weight: 500;
    b {
      @media screen and (max-width: $screen-sm-max) {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  .arrowLine {
    @media screen and (max-width: $screen-sm-max) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &-form {
    padding-top: 30px;
    padding-bottom: 50px;
    @media screen and (min-width: $screen-md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    @media screen and (min-width: $screen-lg) {
      padding-top: 130px;
      padding-bottom: 130px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: 'HalvarBreit-XBd';
      font-weight: 800;
      @media screen and (min-width: $screen-md) {
        margin-bottom: 40px;
      }
      @media screen and (min-width: $screen-lg) {
        margin-bottom: 80px;
      }
    }
    .btn i {
      position: absolute;
      right: 40px;
    }
  }
  &-desc {
    padding: 20px 0;
    border-top: 1px solid $black;
    @media screen and (min-width: $screen-md) {
      padding: 10px;
    }
    @media screen and (min-width: $screen-lg) {
      padding: 40px;
    }
  }
  &-list {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-bottom: 140px;
    }
    &__item {
      padding: 20px 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $screen-md) {
        padding: 10px;
        @media(max-height: 400px){
          padding-bottom: 15px;
        }
      }
      @media screen and (min-width: $screen-lg) {
        padding: 40px;
      }
      p {
        line-height: 30px;
        margin-bottom: 0;
      }
    }
    .col + .col {
      .contacts-list__item {
        border-top: 1px solid $black;
        @media screen and (min-width: $screen-md) {
          border-left: 1px solid $black;
          border-top: 0;
          
        }
      }
    }
  }
}

.contact {
  &.marquee {
    font-size: 10px;
    color: $base-color-main;
    margin-top: 10px;
    @media screen and (min-width: $screen-md) {
      margin-top: 40px;
    }
  }
}

.googleMap {
  height: 500px;
  width: 100%;
  @media screen and (min-width: $screen-md) {
    height: 600px;
  }
}

.return {
  &-form {
    display: none;
    .btn--info i {
      font-size: 11px;
    }
  }
  &-inner {
    border: 1px solid $input-border;
    padding: 20px;
    height: 340px;
    @media screen and (min-width: $screen-md) {
      padding: 40px 70px;
    }
    h5 {
      font-size: 24px;
      font-family: 'StratosLCWeb-Medium';
      font-weight: 500;
      margin-top: 0;
    }
  }
}
