.config {
  background: $white;
  position: relative;
  .breadcrumbs {
    margin-bottom: 0;
  }
  .revealOut {
    padding-bottom: 0;
  }
  .sliderList__item-num {
    position: absolute;
    top: 20px;
    left: 30px;
    @media screen and (min-width: $screen-md) {
      display: none;
    }
  }
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background: $white;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 0;
    display: flex;
    align-items: center;
    @media screen and (min-width: $screen-md) {
      font-size: 34px;
      line-height: 50px;
      margin-bottom: 50px;
    }
    > span {
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      font-family: 'HalvarBreit-XBd';
      margin-right: 40px;
      @media screen and (min-width: $screen-md) {
        font-size: 20px;
        line-height: 23px;
        margin-right: 70px;
      }
    }
  }

  &-block {
    position: relative;
    margin-top: 40px;
    @media screen and (min-width: $screen-md) {
      margin-top: 80px;
    }
    &-text {
      margin-top: 10px;
      margin-bottom: 10px;
      display: none;
      background-color: white;
      padding: 15px 20px;
      height: 50px;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      transition: color .5s;
      position: relative;
      overflow: hidden;
      > * {
        position: relative;
        z-index: 2;
      }
      .txt {
        @media screen and (max-width: $screen-sm-max) {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          padding: 0 5px;
        }
      }
      @media screen and (min-width: $screen-md) {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 70px;
        padding: 20px 40px;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: $base-color-main;
        left: 0;
        right: 0;
        top: 0;
        height: 0;
        transition: height .5s;
      }
      &.active {
        display: flex;
      }
      .img {
        background: url("../images/icons/pen.svg") no-repeat center;
        width: 20px;
        height: 20px;
        transition: background .5s;
      }
      &:hover {
        color: white;
        &:after {
          height: 100%;
        }
        .img {
          background: url("../images/icons/penHover.svg") no-repeat center;
        }
      }
    }
    &.hidden {
      display: none;
    }
  }

  &-textres {
    text-align: center;
    margin-top: 35px;
    display: none;
  }

  &-filter {
    @extend .row;
    padding-bottom: 40px;
    &__item {
      @extend .col;
      @extend .col__lg-3;
      @extend .col__md-6;
      @extend .col__xs-12;
      height: 90px;
      margin-bottom: 10px;
      @media screen and (min-width: $screen-md) {
        height: 160px;
        margin-bottom: 20px;
      }
      label {
        width: 100%;
        height: 100%;
        position: relative;
        border: 1.5px dashed #B6B6B6;
        transition: all .5s;
        display: flex;
        align-items: flex-end;
        padding: 20px 30px;
        cursor: pointer;
        font-size: 16px;
        @media screen and (min-width: $screen-md) {
          font-size: 18px;
        }
        > * {
          position: relative;
          z-index: 9;
        }
        &:before {
          content: '';
          left: 0;
          right: 0;
          height: 0;
          top: 0;
          transition: height .5s;
          position: absolute;
          background-color: $base-color-main;
        }
        &:hover {
          color: white;
          border-color: transparent;
          &:before {
            height: 100%;
          }
        }
      }
      input {
        display: none;
      }
      input:checked + label {
        color: white;
        border-color: transparent;
        &:before {
          height: 100%;
        }
      }
      .img {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 53px;
        height: 53px;
        transition: background .5s;
        @media screen and (min-width: $screen-md) {
          top: 20px;
          bottom: auto;
        }
        img {
          &:nth-child(2) {
            display: none;
          }
        }
      }
      &--link {
        @extend .col__lg-6;
        @extend .col__md-6;
        @extend .col__xs-12;
        label {
          align-items: center;
          justify-content: center;
        }
      }
      &:hover {
        .img {
          img {
            &:nth-child(1) {
              display: none;
            }
            &:nth-child(2) {
              display: inline;
            }
          }
        }
      }
    }

    &--short {
      .config-filter__item {
        @extend .col__lg-6;
        height: 50px;
        @media screen and (min-width: $screen-md) {
          height: 70px;
        }
        label {
          align-items: center;
          @media screen and (max-width: $screen-sm-max) {
            display: flex;
            align-items: center;
          }
        }
        .inner {
          @media screen and (max-width: $screen-sm-max) {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        &--link {
          @extend .col__lg-12;
        }
      }
    }
  }
  &-construct {
    margin-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      margin-top: 50px;
      padding-bottom: 40px;
    }
  }
  &-result {
    display: none;
    .catalog-content {
      margin-bottom: 0;
      &__item {
        @extend .col__lg-6;
      }
    }
  }
}

.notFound {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow-y: auto;
  z-index: 1210;
  transition: height .5s;
  background: #E5E5E5;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $screen-md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'HalvarBreit-XBd';
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 80px;
    }
  }
  .catalog-menu-close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    @media screen and (min-width: $screen-md) {
      height: 65px;
      width: 65px;
      right: 180px;
      top: 70px;
    }
  }
  &.active {
    height: 100%;
  }
}
