$breakpoint-main: 768px;
$color-red: #DF0112;
$color-black: #313131;
$color-gray: #F6F6F6;
$color-blue: #0000BD;
$font-family-title: 'HalvarBreit-XBd';

.landing {
    .textarea--small {
        $height: 160px;
        @media screen and (min-width: $screen-md) {
        height: $height !important;
        }
        textarea {
        @media screen and (min-width: $screen-md) {
            height: $height !important;
        }
        }
    }

    // # select
    // section
    &__select-section {
        padding: 40px 0 80px;
        @media (min-width: $breakpoint-main) {
            padding: 80px 0 160px;
        }
    }
    // title
    &__select-title {
        margin: 0;
        margin-top: 20px;
        @media (min-width: $breakpoint-main) {
            margin-top: 80px;
        }

        font-family: $font-family-title;
        font-size: 14px;
        line-height: 140%;
        @media (min-width: $breakpoint-main) {
            font-size: 30px;
        }
        text-transform: uppercase;
    }
    // form
    &__select-form {
        margin-top: 20px;
        @media (min-width: $breakpoint-main) {
            margin-top: 40px;
        }
    }
    // link
    &__select-link {
        @include filter-checkbox();
        position: relative;
        z-index: 0;
        @media (min-width: $breakpoint-main) {
            justify-content: center;
        }

        &::before {
            position: absolute;
            z-index: -1;
            top: -1.5px;
            bottom: -1.5px;
            left: -1.5px;
            right: -1.5px;
            transform-origin: center top;
            transform: scaleY(0);
            content: '';
    
            background-color: $base-color-main;
            transition-property: all;
            transition-duration: inherit;
        }

        &:hover {
            border: 1.5px dashed transparent;
            color: white;

            &::before {
                transform: scaleY(1);
            }
        }

        &:active {
            border: 1.5px dashed transparent;
            color: white;

            &::before {
                transform: scaleY(1);
            }
        }
    }
    // #

    // FEATURES
    // var
    $breakpoint-features: $breakpoint-main;
    
    // mixin
    @mixin feature-text {
        margin: 0;

        font-size: 14px;
        line-height: 160%;
        @media (min-width: $breakpoint-features) {
            font-size: 16px;
        }
    }

    // section
    &__features-section {
        background-color: $color-gray;
    }

    // wrapper
    &__features-wrapper {
        padding: 85px 0 60px;
        @media (min-width: $breakpoint-features) {
            padding: 165px 0 160px;
        }
    }
    
    // features1
    &__features1 {
        margin: 0;
        @media (min-width: $breakpoint-features) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__features1-item {
        padding-top: 10px;
        @media (min-width: $breakpoint-features) {
            padding-top: 20px;
            width: calc((100% - 20px) / 2);
        }

        &:not(:first-child) {
            margin-top: 40px;
            @media (min-width: $breakpoint-features) {
                margin-top: 0;
            }
        }

        &:nth-child(-n + 2) {
            @media (min-width: $breakpoint-features) {
                margin-bottom: 80px;
            }
        }

        border-top: 1px solid $color-red;
    }
    &__features1-title {
        margin: 0;

        font-family: $font-family-title;
        font-weight: 800;
        font-size: 18px;
        line-height: 140%;
        @media (min-width: $breakpoint-features) {
            font-size: 30px;
        }
        text-transform: uppercase;
    }
    &__features1-text {
        @include feature-text;
        margin-top: 10px;
    }

    // features2
    &__features2 {
        margin: 0;
        margin-top: 80px;
        @media (min-width: $breakpoint-features) {
            margin-top: 100px;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__features2-item {
        width: calc((100% - 20px) / 2);
        @media (min-width: $breakpoint-features) {
            width: calc((100% - 20px * 3) / 4);
        }

        &:nth-child(-n + 2) {
            @media (max-width: #{$breakpoint-features - 1px}) {
                margin-bottom: 60px;
            }
        }
    }
    &__features2-image {
        display: flex;
    }
    &__features2-img {}
    &__features2-text {
        @include feature-text;
        margin-top: 20px;
    }
    // ###

    // # section title
    // title
    &__section-title {
        margin: 0;

        font-family: $font-family-title;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        @media (min-width: $breakpoint-main) {
            font-size: 50px;
            line-height: 65px;
        }
        text-transform: uppercase;
    }
    // #

    // # industries
    // section
    &__industries-section {
        position: relative;
        z-index: 0;
        padding: 80px 0 40px;
        @media (min-width: $breakpoint-main) {
            padding: 160px 0 80px;
        }
    }
    // list
    &__industries-list {
        margin: 0;
        margin-top: 40px;
        @media (min-width: $breakpoint-main) {
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }
    }
    &__industries-item {
        margin: 0;
        @media (min-width: $breakpoint-main) {
            width: calc((100% - 20px * 2) / 3);
            max-width: 400px;
        }
        min-height: 140px;
        @media (min-width: $breakpoint-main) {
            min-height: 290px;
        }

        &:not(:first-child) {
            @media (max-width: #{$breakpoint-main - 1px}) {
                margin-top: 10px;
            }
        }

        &:not(:nth-child(3n + 1)) {
            @media (min-width: $breakpoint-main) {
                margin-left: 20px;
            }
        }

        &:not(:nth-child(-n + 3)) {
            @media (min-width: $breakpoint-main) {
                margin-top: 20px;
            }
        }
    }
    // link
    &__industries-link {
        padding: 20px;
        @media (min-width: $breakpoint-main) {
            padding: 40px;
        }
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        background-color: $color-gray;

        &:hover {
            background-color: #E7E7E7;
        }
    }
    &__industries-image {
        display: flex;
        align-items: flex-start;
    }
    &__industries-img {
        max-width: 100%;
        max-height: 75px;
    }
    &__industries-title {
        margin: 0;

        font-size: 20px;
        line-height: 140%;
        @media (min-width: $breakpoint-main) {
            font-size: 26px;
        }
        text-align: right;
    }
    // #

    // TRADEMARKS
    &__trademarks-section {
        padding: 80px 0 40px;
        @media (min-width: $breakpoint-main) {
            padding: 160px 0 80px;
        }
    }

    &__trademarks-tabs {
        margin-top: 40px;
        @media (min-width: $breakpoint-main) {
            margin-top: 80px;
        }
    }
    // ###

    // contacts
    // var
    $color-background: $color-blue;
    $color-border: white;

    // section
    &__contacts-section {
        padding: 80px 0;
        @media (min-width: $breakpoint-main) {
            padding: 180px 0 160px;
        }
        
        background-color: $color-background;
        background-image: url('../images/landing/contacts-background.svg');
        background-repeat: no-repeat;
        background-position: left 20px bottom -80px;
        background-size: 310px auto;
        @media (min-width: $breakpoint-main) {
            background-position: left calc(50% + 355px + 10px) bottom -160px;
            background-size: 710px auto;
        }
        color: white;
    }

    // grid
    &__contacts-row {
        @media (min-width: $breakpoint-main) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__contacts-col {
        @media (min-width: $breakpoint-main) {
            padding-left: 85px;
            width: calc((100% - 20px) / 2);

            border-left: 1px solid $color-border;
        }
    }

    // title
    &__contacts-title {
        margin: 0;

        font-family: $font-family-title;
        font-size: 16px;
        line-height: 24px;
        @media (min-width: $breakpoint-main) {
            font-size: 40px;
            line-height: 140%;
        }
        text-transform: uppercase;

        &--elongated {
            width: calc(100% + 20px);
        }
    }

    // info grid
    &__contacts-info-list {
        margin: 0;
        margin-top: 40px;
        @media (min-width: $breakpoint-main) {
            margin-top: 60px;
        }
    }
    &__contacts-info-row {
        @media (min-width: $breakpoint-main) {
            display: flex;
            justify-content: space-between;
        }

        &:not(:first-child) {
            margin-top: 30px;
        }

        &--desktop--min-height--50 {
            @media (min-width: 768px) {
                min-height: 50px;
            }
        }
    }
    &__contacts-info-col {
        $proportion: 0.25;

        &:first-child {
            @media (min-width: $breakpoint-main) {
                width: calc((100% - 20px) * #{$proportion});
            } 
        }

        &:last-child {
            margin-top: 10px;

            @media (min-width: $breakpoint-main) {
                margin-top: 0;
                width: calc((100% - 20px) * #{1 - $proportion});
            }
        }
    }
    &__contacts-info-block {
        margin-top: 30px;

        &--caption {
            margin-top: 5px;
            @media (min-width: $breakpoint-main) {
                margin-top: 8px;
            }
        }
    }

    // info content
    &__contacts-info-title {
        margin: 0;

        font-size: 13px;
        line-height: 16px;
        @media (min-width: $breakpoint-main) {
            font-size: 15px;
            line-height: 19px;
        }
    }
    &__contacts-info-text {
        margin: 0;
        display: block;
        
        font-size: 16px;
        line-height: 20px;
        @media (min-width: $breakpoint-main) {
            font-size: 20px;
            line-height: 25px;
        }
        color: white;

        &--small {
            font-size: 11px;
            line-height: 14px;
            @media (min-width: $breakpoint-main) {
                font-size: 13px;
                line-height: 16px;
            }
        }
    }
    &__contacts-info-link {
        text-decoration: underline;
    }

    // person
    &__contacts-person-row {
        display: flex;
        align-items: center;
    }
    $size: 77px;
    &__contacts-person-image {
        position: relative;
        z-index: 0;
        padding-left: 8px;
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;

        &::before {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            content: '';
            width: $size;
            height: $size;

            border: 1px solid $color-red;
            border-radius: 50%;
        }
    }
    &__contacts-person-img {
        width: $size;    
        height: $size;

        border-radius: 50%;
    }
    &__contacts-person-name {
        margin: 0;
        margin-left: 20px;

        font-size: 16px;
        line-height: 140%;
        @media (min-width: $breakpoint-main) {
            font-size: 20px;
        }
    }

    // link wrapper
    &__contacts-link-wrapper {
        display: flex;
    }

    // social
    // var
    $col-gap: 20px;
    $row-gap: 5px;

    &__contacts-social-list {
        margin: 0;
        margin-top: -#{$row-gap};
        margin-left: -#{$col-gap};
        display: flex;
        flex-wrap: wrap;
    }
    &__contacts-social-item {
        margin: 0;
        margin-top: $row-gap;
        margin-left: $col-gap;
        display: flex;
    }
    &__contacts-social-link {
        display: flex;
        align-items: center;

        &:hover {
            .landing__contacts-social-title {
                color: $color-red;
            }

            .landing__contacts-social-img {
                path {
                    fill: $color-red;
                }
            }
        }
    }
    &__contacts-social-image {
        display: flex;
        align-items: flex-start;
    }
    &__contacts-social-img {
        $size: 17px;
        max-width: $size;
        max-height: $size;

        path {
            transition: 0.5s;
        }
    }
    &__contacts-social-title {
        margin-left: 10px;

        font-family: $font-family-title;
        font-size: 12px;
        line-height: 46px;
        color: white;
        transition: 0.5s;
    }



    // # line
    // grid
    &__contacts-line-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (min-width: $breakpoint-main) {
            display: block;
        }
    }
    &__contacts-line-col {
        width: calc((100% - 20px) / 2);
        @media (min-width: $breakpoint-main) {
            width: auto;
        }

        &:last-child {
            @media (min-width: $breakpoint-main) {
                margin-top: 30px;
            }
        }
    }
    // #



    // # interesting
    // section
    &__interesting-section {
        position: relative;
        z-index: 0;
        padding: 60px 0 90px;
        @media (min-width: $breakpoint-main) {
            padding: 160px 0;
        }
        overflow: hidden;

        background-color: $color-gray;

        .catalog-content__item-inner {
            .row {
                height: 100%;
            }
        }
    }
    // title block
    &__interesting-title-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .arrowLine-main {
            font-size: 16px;
            line-height: 20px;
            @media (min-width: $breakpoint-main) {
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    &__interesting-title-col {
        &:last-child {
            padding-top: 15px;
            display: none;
            @media (min-width: $breakpoint-main) {
                display: block;
            }
        }
    }
    // slider
    &__interesting-slider {
        margin: 0 !important;
        margin-top: 40px !important;
        @media (min-width: $breakpoint-main) {
            margin-top: 80px !important;
        }
        position: relative;
        z-index: 2;

        .swiper-button {
            top: auto !important;
            bottom: calc(100% + 35px) !important;

            & > div {
                &:first-child {
                    padding-right: 5px;
                }

                &:last-child {
                    padding-left: 5px;
                }
            }
        }

        .catalog-content__item {
            max-height: none;

            &:hover {
                .catalog-content__item-inner {
                    box-shadow: 0 20px 40px rgba(23, 38, 47, 0.3), inset 0 0 0 0 #dadada;
                }
            }
        }

        .swiper-slide {
            &:not(:first-of-type) {
                .catalog-content__item-inner {
                    border-left: none !important;
                }
            }

            &:hover {
                z-index: 1;
            }
        }

        .catalog-content__item-inner {
            border: 1px solid #DADADA !important;
        }

        .icon-download {
            font-size: 11px;
        }

        .icons-right {
            font-size: 9.5px;
        }
    }
    // mid
    &__interesting-mid {
        margin-top: 40px;
        @media (min-width: $breakpoint-main) {
            display: none;
        }
    }
    // bottom
    &__interesting-bottom {
        position: relative;
        z-index: 1;
        margin-top: 80px;
        @media (min-width: $breakpoint-main) {
            margin-top: 160px;
        }
    }
    &__interesting-bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
    &__interesting-bottom-col {
        width: calc((100% - 30px) / 2);

        &:first-child {
            position: relative;

            @media (min-width: $breakpoint-main) {
                width: calc(100% / 3 * 2);
            }
        }

        &:last-child {
            @media (min-width: $breakpoint-main) {
                width: calc(100% / 3 * 1);
            }
        }
    }
    &__interesting-bottom-title {
        margin: 0;
        
        font-family: $font-family-title;
        font-size: 16px;
        line-height: 24px;
        @media (min-width: $breakpoint-main) {
            font-size: 30px;
            line-height: 140%;
        }
        text-transform: uppercase;
    }

    &__interesting-bottom-download {
        &-wrapper {
            margin-top: 10px;
            @media (min-width: $breakpoint-main) {
                margin-top: 40px;
            }
            display: flex;
        }

        &-link {
            display: flex;
            align-items: center;

            color: #0000BD;

            &:hover {
                color: #DF0112;
            }
        }

        &-text {
            font-size: 16px;
            line-height: 20px;
        }

        &-icon {
            margin-left: 10px;

            font-size: 13px;
        }
    }

    &__interesting-background {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% - 10px), calc(-50% + 90px));
        max-width: 265px;
        @media (min-width: $breakpoint-main) {
            transform: translate(-50%, calc(-50% + 160px));
            max-width: 630px;
        }
    }
    // #



    &__partners-section {
        padding: 40px 0 80px;
        @media (min-width: $breakpoint-main) {
            padding: 80px 0 160px;
        }

        .swiper-slide {
            &:not(:first-of-type) {
                .landing__partners-slide-block {
                    border-left: none;
                }
            }
        }

        .trademark-carousel {
            margin-left: 0 !important;
        }
    }
    // 
    &__partners-slider-block {
        margin: 0 !important;
        margin-top: 40px !important;
        @media (min-width: $breakpoint-main) {
            margin-top: 80px !important;
        }

        .swiper-slide {
            width: 255px !important;
            @media (min-width: $breakpoint-main) {
                width: 310px !important;
            }
        }
    }
    &__partners-slider-slide {}
    &__partners-slider-buttons {
        top: auto !important;
        bottom: calc(100% + 90px) !important;

        @media (max-width: #{768 - 1}px) {
            display: none;
        }

        & > div {
            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                padding-left: 5px;
            }
        }
    }
    // 
    &__partners-slide-block {
        padding: 30px 70px;
        @media (min-width: $breakpoint-main) {
            padding: 40px 80px;
        }
        height: 150px;
        @media (min-width: $breakpoint-main) {
            height: 180px;
        }
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #DADADA;
    }
    &__partners-slide-image {
        display: flex;
        align-items: flex-start;
    }
    &__partners-slide-img {
        max-width: 100%;
        max-height: 100%;
    }
    &__partners-slide-title {
        margin: 0 !important;
        margin-top: 10px !important;
        @media (min-width: $breakpoint-main) {
            margin-top: 15px !important;
        }

        font-family: $font-family-title;
        font-size: 13px;
        line-height: 140%;
        @media (min-width: $breakpoint-main) {
            font-size: 15px;
        }
        text-transform: uppercase;
    }



    &__sertificates-section {
        padding-top: 80px;
        @media (min-width: $breakpoint-main) {
            padding-top: 160px;
        }

        background-color: $color-gray;
    }
}

.landing {
    &__mark {
        position: absolute;
        top: -310px;
        @media (min-width: #{992 + 1}px) {
            top: -150px;
        }
        pointer-events: none;
    }

    &__top {
        &-section {
            padding-bottom: 30px;
            @media (min-width: $breakpoint-main) {
                padding-bottom: 60px;
            }

            background-color: $color-gray;
        }

        &-title {
            margin: 0;

            font-family: $font-family-title;
            font-size: 30px;
            line-height: 100%;
            @media (min-width: $breakpoint-main) {
                font-size: 60px;
            }
            text-transform: uppercase;
        }

        &-first {
            &-block {
                position: relative;
                z-index: 0;
                padding-top: 50px;
                @media (min-width: $breakpoint-main) {
                    padding-top: 130px;
                }
            }

            &-background {
                &-layout {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    bottom: 40px;
                    left: 0;
                    right: 0;
                    @media (min-width: $breakpoint-main) {
                        bottom: 90px;
                    }
    
                    background-color: white;
                }

                &-image {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;


                    background-image: url('../images/landing/top-background.png');
                    background-repeat: no-repeat;
                    background-position: center top 25px;
                    background-size: 930px auto;
                    @media (min-width: $breakpoint-main) {
                        background-position: center top;
                        background-size: auto auto;
                    }
                }
            }

            &-description {
                &-block {
                    margin-top: 20px;
                    @media (min-width: $breakpoint-main) {
                        margin-top: 40px;
                        padding-right: 140px;
                    }
                }
                
                &-text {
                    margin: 0;
                    @media (min-width: $breakpoint-main) {
                        margin-left: auto;
                    }
                    width: 320px;
                    @media (min-width: $breakpoint-main) {
                        width: 365px;
                    }

                    font-size: 16px;
                    line-height: 140%;
                    @media (min-width: $breakpoint-main) {
                        font-size: 22px;
                    }
                }
            }
        }

        &-slider {
            &-block {
                position: relative;
                z-index: 0;
                margin-top: 40px;
                @media (min-width: $breakpoint-main) {
                    margin-top: 80px;
                }

                &::before {
                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    content: '';
                    display: none;
                    @media (min-width: $breakpoint-main) {
                        display: block;
                    }
                    width: 2060px;
                    height: 60px;

                    background-image: url('../images/landing/top-slider-background.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% auto;
                }
            }

            &-container {}
            
            &-slide {}
            &-image {
                display: flex;
                align-items: flex-start;
            }
            &-img {}

            &-buttons {
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                right: 0;
                @media (min-width: $breakpoint-main) {
                    top: auto;
                    bottom: calc(100% + 75px);
                    right: auto;
                }
                display: flex;
                justify-content: center;
            }
            &-button {
                width: 75px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;

                .icon-arrow-right {
                    font-size: 9px;
                    transition: color 0.5s;
                }

                &:hover {
                    .icon-arrow-right {
                        color: $color-red;
                    }
                }

                &--left {
                    .icon-arrow-right {
                        transform: rotate(180deg);
                    }
                }
            }

            &-pagination {
                position: absolute;
                z-index: 0;
                margin-top: -8px;
                left: calc(100% + 40px);
                @media (max-width: #{$breakpoint-main - 1px}) {
                    display: none;
                }
            }
            &-pagination-item {
                position: relative;
                padding: 10px 0;
                width: 20px;

                transition: 0.5s;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform-origin: left center;
                    transform: translateY(-50%);
                    content: '';
                    display: block;
                    height: 2px;

                    background-color: #313131;
                    transition: inherit;
                }

                &--active {
                    cursor: default;

                    &::before {
                        height: 3px;
                        transform: translateY(-50%) scaleX(2);

                        background-color: #DF0112;
                    }
                }
            }
        }

        &-about {
            &-block {
                position: relative;
                z-index: 0;
                margin-top: 110px;
                padding-top: 10px;
                @media (min-width: $breakpoint-main) {
                    margin-top: 160px;
                    padding-top: 30px;
                }
    
                border-top: 1px solid $color-black;
            }
            &-mark {
                position: absolute;
                top: -150px;
                pointer-events: none;
            }
            &-row {
                @media (min-width: $breakpoint-main) {
                    margin-top: -30px;
                    margin-left: -30px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
            &-col {
                @media (min-width: $breakpoint-main) {
                    margin-top: 30px;
                    margin-left: 30px;
                }
    
                &:last-child {
                    margin-top: 20px;
                    @media (min-width: $breakpoint-main) {
                        max-width: 945px;
                    }
                }
            }
            &-title {
                margin: 0;
    
                font-family: $font-family-title;
                font-size: 13px;
                line-height: 140%;
                @media (min-width: $breakpoint-main) {
                    font-size: 15px;
                }
                color: $color-blue;
                text-transform: uppercase;
            }
            &-text {
                margin: 0;
    
                font-size: 20px;
                line-height: 140%;
                @media (min-width: $breakpoint-main) {
                    font-size: 33px;
                }
                text-transform: uppercase;
            }
        }

        &-movie {
            &-block {
                margin-top: 80px;
                @media (min-width: $breakpoint-main) {
                    margin-top: 160px;
                }

                .approach-video {
                    margin: 0;
                }
            }
        }
    }

    &__features {
        &-decoration {
            $decoration-width: 10px;
            $decoration-height: 10px;

            @keyframes decoration-move {
                from {
                    transform: translate(-75%, -50%);
                }
                
                to {
                    transform: translate(-50%, -50%);
                }
            }

            &-block {
                position: relative;

                border-top: 1px dashed $color-black;
            }
            &-list {
                position: absolute;
                left: calc(50% - #{$decoration-width / 2});
                transform: translate(-75%, -50%);
                display: flex;

                animation-name: decoration-move;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            &-item {
                $border-hor: $decoration-width solid $color-black;
                $border-vert: #{$decoration-height / 2} solid transparent;
        
                margin-right: 100px;
                
                border-left: $border-hor;
                border-top: $border-vert;
                border-bottom: $border-vert;
            }
        }
    }

    &__card {
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }

    &__slide {
        &-btns {
            .btn {
                margin: 0;
                min-width: auto;
                height: 45px;
                @media (min-width: $breakpoint-main) {
                    height: 60px;
                }
                display: flex;
                justify-content: space-between;
                
                border: 1px solid #DADADA;

                & > span {
                    font-size: 16px;
                    line-height: 20px;
                }

                & > i { 
                    color: #0000BD;
                    transition: 0.5s;
                }

                &:last-child {
                    border-top: none;
                }
                
                &:hover {
                    & > i { 
                        color: white;
                    }
                }
            }
        }
    }
}

.landing__sert {
    &-section {
        .swiper-slide {
            .landing__sert-subslider-text {
                @keyframes fade-down {
                    from {
                        opacity: 1;
                    }
                    
                    to {
                        opacity: 0;
                    }
                }
                animation-name: fade-down;
                animation-timing-function: ease-in-out;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }

            &-active {
                .landing__sert-subslider-text {
                    @keyframes fade-up {
                        from {
                            opacity: 0;
                        }
                        
                        to {
                            opacity: 1;
                        }
                    }
                    animation-name: fade-up;
                }
            }
        }
    }

    &-container {
        position: relative;
        z-index: 0;
        padding-top: 80px;
        @media (min-width: 768px) {
            padding-top: 160px;
        }
        height: 600px;
        @media (min-width: 768px) {
            height: 670px;
        }
        overflow: hidden;

        background-color: #F5F5F5;
    }

    &-subslider {
        margin-top: 40px;
        @media (min-width: 768px) {
            margin-top: 30px;
        }
        pointer-events: none;
    }

    &-subslider-text {
        position: relative;
        z-index: 0;
        margin: 0;
        padding-left: 65px;
        max-width: 290px;
        @media (min-width: 768px) {
            padding-left: 110px;
            max-width: 550px;
        }
        pointer-events: all;

        font-size: 14px;
        line-height: 21px;
        @media (min-width: 768px) {
            font-size: 24px;
            line-height: 140%;
        }
        transition: 0.5s;

        &::before {
            position: absolute;
            top: 12px;
            left: 0;
            @media (min-width: 768px) {
                top: 19px;
            }
            content: '';
            width: 45px;
            height: 1.5px;
            @media (min-width: 768px) {
                width: 90px;
            }

            background-color: #DF0112;
        }
    }

    &-control-wrapper {
        position: absolute;
        z-index: 0;
        bottom: 345px;
        left: 0;
        right: 0;
        @media (min-width: 768px) {
            bottom: 70px;
        }
        pointer-events: none;

        .swiper-button {
            pointer-events: all;
        }

        .swiper-pagination {
            pointer-events: all;
        }
    }

    &-control {
        margin: 0 !important;
        padding: 0 !important;

        @media (min-width: 768px) {
            height: 210px !important;
        }

        .swiper-pagination {
            @media (max-width: #{768 - 1}px) {
                margin: 0 !important;
            }
        }

        .swiper-button {
            @media (max-width: #{768 - 1}px) {
                bottom: 0 !important;
            }

            & > * {
                @media (min-width: 768px) {
                    border-color: $color-black !important;
                    color: $color-black !important;
                    transition: 0.5s;

                    &::after {
                        background-color: $color-black !important;
                    }

                    &:hover {
                        color: white !important;
                    }
                }
            }
        }

        &::after {
            display: none !important;
        }

        .icon-arrow-left,
        .icon-arrow-right {
            @media (max-width: #{768 - 1}px) {
                color: $color-black;

                transition: 0.5s;

                &:hover {
                    color: $color-red;
                }
            }
        }
    }

    &-slider {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .swiper-slide-active {
            z-index: 1;
        }
    }

    &-slider-swiper {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    &-slider-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    &-slider-img {
        &--mobile {
            @media (min-width: 768px) {
                display: none;
            }
        }

        &--desktop {
            min-width: 1600px;
            @media (max-width: #{768 - 1}px) {
                display: none;
            }
        }
    }

    &-marquee {}
}

.landing__gallery {
    &-section {
        padding: 70px 0 80px;
        @media (min-width: 768px) {
            padding: 160px 0 175px;
        }
    }

    &-slider {
        margin: 0 !important;
        margin-top: 40px !important;
        @media (min-width: 768px) {
            margin-top: 80px !important;
        }
        padding-bottom: 0 !important;
        overflow: visible !important;

        &::after {
            display: none !important;
        }

        .swiper-button {
            bottom: 0 !important;

            & > * {
                @media (min-width: 768px) {
                    border-color: $color-black !important;
                    color: $color-black !important;
                    transition: 0.5s;

                    &::after {
                        background-color: $color-black !important;
                    }

                    &:hover {
                        color: white !important;
                    }
                }
            }
        }

        .icon-arrow-left,
        .icon-arrow-right {
            @media (max-width: #{768 - 1}px) {
                color: $color-black;

                transition: 0.5s;

                &:hover {
                    color: $color-red;
                }
            }
        }
    }

    &-marquee {
        margin-top: 20px;
        @media (max-width: #{768 - 1}px) {
            display: none;
        }
    }
}