.sertificates {
  h3 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    @media screen and (min-width: $screen-md) {
      font-size: 34px;
      line-height: 50px;
      margin-left: 20px;
    }
  }
  .aside {
    &-menu {
      @media screen and (max-width: $screen-sm-max) {
        flex-wrap: wrap;
        overflow: visible;
        li {
          width: 100%;
        }
      }
      li {
        white-space: normal;
      }
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    &__item {
      width: 100%;
      position: relative;
      padding: 50px 47px 0 35px;
      margin-bottom: 20px;
      background: url("../images/about/mock.png") no-repeat center top / 100% auto;
      @media screen and (min-width: $screen-md) {
        width: 50%;
      }
      @media screen and (min-width: $screen-lg) {
        width: 33%;
        margin-bottom: 50px;
      }
      @media screen and (min-width: $screen-xl) {
        padding: 49px 47px 0 26px;
      }
      &-img {
        text-align: center;
        img {
          max-width: 81%;
        }
      }
      &-txt {
        line-height: 27px;
        text-align: center;
        margin-top: 60px;
        @media screen and (min-width: $screen-md) {
          margin-top: 50px;
        }
      }
    }
  }
}
