.service {
  .revealOut {
    padding-bottom: 0;
  }
  h3 {
    font-family: 'StratosLCWeb-Medium';
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    @media screen and (min-width: $screen-md) {
      font-size: 34px;
      line-height: 50px;
      margin-bottom: 90px;
    }
  }

  &-list {
    padding-top: 50px;
    padding-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      padding-top: 140px;
      padding-bottom: 100px;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      position: relative;
      margin-bottom: 70px;
      @media screen and (min-width: $screen-md) {
        font-size: 18px;
        line-height: 30px;
      }
      &:before {
        content: '';
        width: 160px;
        border-top: 1.5px solid $base-color-main;
        position: absolute;
        top: -20px;
        left: 0;
        @media screen and (min-width: $screen-md) {
          top: -40px;
        }
      }
    }
  }

  .cardLink {
    &__item {
      margin-bottom: 20px;
      &-num {
        font-size: 14px;
        line-height: 23px;
        color: $color-type-2a;
        text-transform: uppercase;
        font-family: 'HalvarBreit-XBd';
        position: absolute;
        left: 20px;
        bottom: 20px;
        transition: color .5s;
        @media screen and (min-width: $screen-md) {
          left: 50px;
          bottom: 50px;
          font-size: 20px;
        }
      }
    }
  }

  .marquee {
    position: absolute;
    left: -50%;
    bottom: 40px;
    @media screen and (min-width: $screen-md) {
      bottom: 70px;
    }
  }
}
