//
// Partials -> Aside
// ------------------------------------

.aside {
  &-menu {
    display: flex;
    overflow-x: auto;
    padding-bottom: 15px;
    &.is-affixed {
      overflow: visible;
    }
    @media screen and (min-width: $screen-md) {
      display: block;
    }
    li {

      margin-right: 20px;
      white-space: nowrap;
      //min-height: 33px;
      a {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 10px;
        margin-bottom: 18px;
        color: $black;
        display: block;
        @media screen and (min-width: $screen-md) {
          font-size: 18px;
          line-height: 27px;
        }
        span {
          position: relative;
          &:before {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -12px;
            background-color: #DADADA;
            transition: width .5s;
          }
          &:after {
            content: '';
            height: 4px;
            width: 0;
            position: absolute;
            left: 0;
            bottom: -12px;
            background-color: $color-type-2a;
            transition: width .5s;
          }
        }
        &.active,
        &:hover {
          color: $black !important;
          span:after {
            width: 100%;
          }
        }
      }
    }
  }
}
