.menuBar {
  //padding-top: 80px;
  //@media screen and (min-width: $screen-md-min) {
  //  padding-top: 120px;
  //}
  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $white;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 1;
    //@media screen and (min-width: $screen-md) {
    //  &:after {
    //    content: '';
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    right: 0;
    //    height: 319px;
    //    width: 100%;
    //    background-color: white;
    //    z-index: 0;
    //  }
    //}
  }

  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  //height: 100vh;
  //top: 120px;
  @include transition(top .5s);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1005;
  opacity: 0;
  visibility: hidden;
  background-color: $white;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
  }
  .container {
    @media screen and (min-width: $screen-xl-min) {
      padding-left: 100px;
    }
  }
  .language {
    margin-right: 20px;
    @media screen and (min-width: 370px) {
      margin-right: 40px;
    }
  }
  //&.active {
  //  //top: 80px;
  //  @media screen and (min-width: $screen-md-min) {
  //    //top: 120px;
  //  }
  //}
  .page-header-right {
    margin-right: 45px;
    @media screen and (min-width: $screen-md-min) {
      margin-right: 0;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
    position: relative;
    z-index: 9;
    transform: translateY(-600px);
    @media screen and (min-width: $screen-md) {
      padding: 30px;
    }
    @media screen and (min-width: $screen-xl) {
      padding: 30px 85px;
    }
    .navbar {
      width: 410px;
      @media(max-height: 400px){
        width:0;
      }
    }

    .header-content {
      max-width: 650px;
      width: 100%;
      @media screen and (min-width: $screen-md) {
        width: 55%;
        @media(max-height: 400px){
          width: 100%;
        }
      }
      @media screen and (min-width: $screen-lg) {
        width: 100%;
      }
      @media screen and (min-width: $screen-xl) {
        max-width: 890px;
      }
      @media screen and (min-width: $screen-xl) and (max-width: 1400px) {
        max-width: 1000px;
      }
      @media screen and (min-width: $screen-xxl) {
        max-width: 1030px;
      }
      > div {
        display: flex;
        justify-content: center;
        .page-header__phone {
          margin-right: 60px;
        }
      }
      .header-content__top {
        margin-bottom: 25px;
      }
    }
  }
  &-top {
    height: 100%;
    padding: 10px 0;
    opacity: 0;
    position: relative;
    //@include transition(opacity .5s);
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: center;
    }
    .dropdownDeep {
      padding-left: 20px;
    }
    a {
      &:after {
        position: static;
        display: inline-block;
      }
    }
    .dropdown-menu {
      display: none;
      width: 100%;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 14px;
      }
      @media screen and (min-width: $screen-md-min) {
        display: none !important;
      }
      &__item {
        padding: 5px 0;
        @media screen and (min-width: $screen-md-min) {
          margin: 5px 0;
        }
        > a {
          display: inline-block;
          &:after {
            //top: 0;
            //right: -20px;
            position: static;
            display: inline-block;
          }
        }
        &--parent {
          &.active > a {
            color: $color-type-2a;
          }
        }
      }
      &-title {
        min-height: initial;
        margin-bottom: 15px;
        padding: 5px 0;
      }
      .dropdownDeeper {
        padding-left: 20px;
      }
      .dropdownDeeper,
      .dropdownDeep {
        display: none;
      }
      .dropdownDeep__item {
        margin: 5px 0;
      }
      .dropdownDeeper__item {
        margin: 5px 0;
      }
    }
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-family: 'HalvarBreit-XBd';
      transition: color .5s;
      overflow: hidden;
      @media screen and (max-width: $screen-sm-max) {
        font-size: 18px;
        line-height: 23px;
        text-transform: none;
        font-weight: normal;
        font-family: 'StratosLCWeb-Regular';
      }
      i {
        font-size: 24px;
        margin-right: 7px;
        margin-left: -53px;
        color: $color-type-2a;
        transition: margin-left .5s;
      }
      &:hover {
        > a {
          color: $color-type-2a;
        }
        @media screen and (min-width: $screen-md) {
          i {
            margin-left: 0;
          }
        }
      }
    }
    @media screen and (max-width: $screen-sm-max) {
      h3,
      .dropdownDeep__item--parent,
      .dropdown-menu__item--parent {
        > a {
          position: relative;
          display: inline-block;

          &:after {
            content: "\e905";
            font-family: icomoon;
            color: $base-color-main;
            font-size: 10px;
            margin-left: 8px;
            transform: rotate(0);
            transition: transform .5s, color .5s;
          }
        }

        &.active {
          > a {
            color: $color-type-2a;

            &:after {
              //font-size: 9px;
              //content: "\e906";
              color: $color-type-2a;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .list--unstyled {
      line-height: 46px;
      margin-bottom: 0;
      @media screen and (max-width: $screen-sm-max) {
        column-count: 2;
        line-height: 35px;
      }
    }
  }
  &-bottom {
    background-color: white;
    position: relative;
    display: none;
    transform: translateY(600px);
    height: 320px;
    //@include transition(transform .5s);

    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
    &-icon {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 9;
      top: -15px;
      margin: auto;
      width: 80px;
      height: 29px;
      background: url("../images/icons/menu.svg") no-repeat center;
      cursor: pointer;
      transition: transform .5s;
      transform: scale(1);
      img {
        opacity: 0;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &-right {
    position: relative;
    max-width: 430px;
    .social {
      margin-bottom: 15px;
    }
    .revealOut {
      padding-bottom: 0;
    }
    @media screen and (min-width: $screen-md-min) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
    @media screen and (min-width: $screen-lg-min) {
      left: -1vw;
    }
    @media screen and (min-width: 1367px) {
      left: 1vw;
    }
    a {
      transition: color .5s;
      &:hover {
        color: $color-type-2a;
      }
    }
  }
  .menu-carousel {
    width: 100%;
    padding: 50px 0 20px;
    text-align: center;
  }
  &-scroll {
    &__item {
      width: 300px !important;
      transition: color .5s;
      display: block;
      @media screen and (min-width: $screen-xl-min) {
        width: calc(100% / 6) !important;
      }
      &:hover {
        color: $color-type-2a;
        .menuBar-scroll__item-img {
          transform: scale(0.9);
        }
      }
      p {
        position: relative;
        padding: 0 20px;
      }
      &-first {
        .menuBar-scroll__item-img {
          img {
            right: -1%;
          }
        }
      }
      &-fourth {
        .menuBar-scroll__item-img {
          img {
            right: 0;
          }
        }
      }
      &-last {
        .menuBar-scroll__item-img {
          align-items: flex-end;
          img {
            right: 0;
            max-width: 200px;
          }
        }
      }
      &-img {
        height: 160px;
        transition: transform .5s;
        transform: scale(1.0);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          vertical-align: middle;
          display: inline-block;
          right: 14%;
          position: relative;
          max-height: 100%;
        }
      }
    }
  }
}

.social {
  list-style-type: none;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  font-size: 12px;
  line-height: 46px;
  font-family: 'HalvarBreit-XBd';
  display: inline-flex;
  margin-bottom: 30px;
  i {
    color: $black;
    font-size: 15px;
    margin-right: 8px;
    transition: color .5s;
  }
  span {
    color: $black;
    transition: color .5s;
  }
  path {
    transition: fill .5s;
  }
  a {
    display: flex;
    align-items: center;
  }
  li + li {
    margin-left: 45px;
  }
  li {
    &:hover {
      span {
        color: $color-type-2a;
      }
      i {
        color: $color-type-2a;
      }
      path {
        fill: $color-type-2a;
      }
    }
  }
}
