.works {
  .aside-menu {
    flex-wrap: wrap;
    overflow: visible;
    li {
      white-space: normal;
    }
  }
  .catalog-link {
    margin-top: 200px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .revealOut {
    padding-bottom: 0;
  }
  h3 {
    margin-top: 0;
    font-family: 'StratosLCWeb-Medium';
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    @media screen and (min-width: $screen-md) {
      font-size: 34px;
      line-height: 50px;
      margin-bottom: 60px;
    }
  }
  h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'HalvarBreit-XBd';
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      font-size: 35px;
      line-height: 46px;
      margin-bottom: 80px;
    }
  }
  &-list {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 100px;
    }
    &__item {
      padding: 20px 0;
      display: flex;
      border-top: 1px solid $black;
      @media screen and (min-width: $screen-md) {
        padding: 40px 50px 40px 0;
      }
      &-num {
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: $color-type-2a;
        font-family: 'HalvarBreit-XBd';
        width: 50px;
        @media screen and (min-width: $screen-md) {
          width: 35%;
        }
      }
      &:last-child {
        border-bottom: 1px solid $black;
      }
      &-text {
        width: calc(100% - 50px);
        font-size: 14px;
        line-height: 21px;
        @media screen and (min-width: $screen-md) {
          font-size: 18px;
          line-height: 30px;
          width: 75%;
        }
      }
    }
  }
  &-form {
    .checkbox label {
      display: flex;
      align-items: center;
      padding-left: 0;
      span {
        margin-left: 20px;
        width: calc(100% - 50px);
      }
      &:after {
        position: static;
        order: -1;
      }
      a {
        border-bottom: 1px solid $black;
        transition: border-color .5s;
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
  &-accordion {
    margin-top: 50px;
    @media screen and (min-width: $screen-md) {
      margin-top: 130px;
    }
    .accordion {
      &-header {
        .title {
          font-size: 14px;
          line-height: 21px;
          max-width: 600px;
          @media screen and (min-width: $screen-md) {
            font-size: 18px;
            line-height: 30px;
          }
        }
        .plus {
          transition: height .5s, background-color .5s;
          @media screen and (min-width: $screen-md) {
            height: calc(100% - 10px);
            bottom: 5px;
          }
        }
      }
      &-content {
        padding: 20px;
        @media screen and (min-width: $screen-md) {
          padding: 27px 40px;
        }
      }
      &-item.active {
        .accordion-header .plus {
          @media screen and (min-width: $screen-md) {
            height: 68px;
          }
        }
      }
    }
  }

  &-question {
    margin: 50px 0;
    @media screen and (min-width: $screen-md) {
      margin: 120px 0;
    }
  }


  .btn i {
    position: absolute;
    right: 40px;
  }
}
