//
// Partials -> Header
// ------------------------------------


//
// Header
//
.page-header {
  padding: 20px 20px 10px;
  line-height: 1.22222;
  background-color: white;
  //@include transition(padding .5s);
  //transition-delay: 1s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1002;
  @media screen and (min-width: $screen-md) {
    padding: 30px;
  }
  @media screen and (min-width: $screen-xl) {
    padding: 30px 85px;
  }

  &.hover {
    background-color: $white !important;
    transition-delay: 0s;
  }

  .language {
    display: none;
  }

  &.fixed {
    .header-content__top {
      display: none;
    }
  }

  &__logo {
    line-height: 23px;

    a {
      display: block;
      background: url("../images/logo.svg") no-repeat center / auto 100%;
      height: 45px;
      width: 68px;
      transition: background .5s;
      @media screen and (min-width: $screen-md) {
        height: 70px;
        width: 100px;
      }
    }

    //img {
    //  height: 45px;
    //  @media screen and (min-width: $screen-md) {
    //    height: auto;
    //  }
    //}
  }

  &__phone {
    width: 130px;
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      .scroll & {
        display: none;
      }
    }

    a:hover {
      color: $color-type-2a;
    }
  }

  &__link {
    display: block;
    width: 220px;
    @media screen and (min-width: $screen-lg) {
      display: none;
    }
    @media screen and (min-width: 1310px) {
      display: block;
    }
  }

  &__addphone {
    @media screen and (min-width: $screen-md) {
      display: none !important;
    }
  }

  &__search {
    height: 44px;
    width: 44px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray;
    margin-right: 5px;
    @include transition;
    position: relative;
    overflow: hidden;
    @media screen and (min-width: $screen-md) {
      margin-right: 10px;
      height: 65px;
      width: 65px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: $base-color-main;
      transition: height .5s;
    }

    i {
      position: relative;
      font-size: 18px;
      z-index: 1;
      color: $base-color-main;
      transition: color .5s;
    }

    i.icon-phone {
      //font-size: 50px;
    }

    &:hover {
      &:after {
        height: 100%;
      }

      i {
        color: white;
      }
    }
  }
  .hideme {
    opacity: 0;
  }
  &__menu {
    height: 44px;
    width: 44px;
    border-radius: 80px;
    background-color: $base-color-main;
    transition: top .5s;
    cursor: pointer;
    overflow: hidden;
    z-index: 1009;
    @media screen and (min-width: $screen-md) {
      height: 65px;
      width: 65px;
    }
    &:not(.hideme) {
      top: 21px;
      position: absolute;
      right: 20px;
      @media screen and (min-width: $screen-md) {
        top: 33px;
        position: fixed;
        right: 30px;
      }
      @media screen and (min-width: $screen-xl) {
        right: 85px;
      }
      body.index.fp-viewing-one & {
        top: 33px;
      }
      body.index.fp-viewing-two &,
      body.index.fp-viewing-three &,
      .scroller & {
        top: 13px;
      }
      //&.thin {
      //  top: -100px;
      //}
    }
    body.about &,
    .fp-viewing-one & {
      @media screen and (min-width: $screen-md) {
        top: 33px !important;
      }
    }

    &:after {
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: $color-type-2a;
      transition: height .5s;
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 18px;
      background: white;
      opacity: 1;
      left: 0;
      right: 0;
      margin: auto;
      transform: rotate(0deg);
      //transition: .25s ease-in-out;
      position: relative;
      z-index: 1;
      transition: top .5s, height .5s, transform .5s, width .5s, opacity .5s .3s;
      @media screen and (min-width: $screen-md) {
        width: 23px;
      }

      &:nth-child(1) {
        top: 15px;
        @media screen and (min-width: $screen-md) {
          top: 23px;
        }
      }

      &:nth-child(2) {
        top: 19px;
        @media screen and (min-width: $screen-md) {
          top: 31px;
        }
      }

      &:nth-child(3) {
        top: 23px;
        @media screen and (min-width: $screen-md) {
          top: 39px;
        }
      }
    }

    &.open span:nth-child(1) {
      top: 21px !important;
      height: 2px !important;
      transform: rotate(135deg);
      @media screen and (min-width: $screen-md) {
        top: 33px !important;
      }
    }

    &.open span:nth-child(2) {
      opacity: 0;
      transition: top .5s, height .5s, transform .5s, width .5s, opacity 0s;
    }

    &.open span:nth-child(3) {
      top: 17px !important;
      height: 2px !important;
      transform: rotate(-135deg);
      @media screen and (min-width: $screen-md) {
        top: 29px !important;
      }
    }


    @media screen and (min-width: $screen-md) {
      &:hover {
        span:nth-child(1) {
          top: 33px;
          height: 1px;
        }

        span:nth-child(2) {
          width: 37px;
        }

        span:nth-child(3) {
          top: 29px;
          height: 1px;
        }

        &:after {
          height: 100%;
        }

        i {
          color: white;
        }
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
  }

  .navbar {
    width: 490px;
    @include transition(opacity .5s, width .5s);
    display: none;
    @media screen and (min-width: $screen-lg) {
      display: block;
    }
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      width: 460px;
    }
  }

  .header-content {
    max-width: 650px;
    width: 100%;
    @include transition(width .5s);
    @media screen and (min-width: $screen-md) {
      width: 55%;
    }
    @media screen and (min-width: $screen-lg) {
      width: 100%;
    }
    @media screen and (min-width: $screen-xl) {
      max-width: 890px;
    }
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      max-width: 850px;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: 1030px;
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__top {
      margin-bottom: 25px;
      //transition: all .5s;
      overflow: hidden;
    }

    &__bottom {
      //transition: all .5s;
      overflow: hidden;
    }

    &__hidden {
      //display: none;
      //transition: all .5s;
      display: flex;
      max-height: 0;
      overflow: hidden;
    }
  }


  &.open {
    background-color: transparent;
    transition-delay: 0s;

    .header-content {
      width: 950px;
    }

    .page-header__search {
      opacity: 0;
    }

    .navbar {
      opacity: 0;
      width: 410px;
    }

    .language {
      display: block;
    }
  }
}


@media screen and (min-width: $screen-md-min) {
  .fixed-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: transparent;
    transition: padding .5s, top .5s, background-color .5s 0s;
  }
  .nav-up {
    top: -140px;
  }
  .scroll {
    background-color: white;
    transition: padding .5s, top .5s, background-color .5s 0s;
    .header-content {
      max-width: 70%;
    }
    .header-content__bottom,
    .header-content__top {
      display: none;
    }
    .header-content__hidden {
      display: flex;
      max-height: 140px;
    }
    &.page-header {
      padding: 10px 85px;
    }
  }
}

.scroll {
  background-color: white;
  border-bottom: 1px solid #DADADA;
  &.page-header {
    padding: 10px 30px;
    @media screen and (min-width: $screen-xl) {
      padding: 10px 85px;
    }
  }
  .header-content {
    max-width: 70%;
    @media screen and (min-width: $screen-xl) {
      max-width: 79%;
    }
    @media screen and (min-width: 1200px) and (max-width: 1300px) {
      max-width: 74%;
    }
    @media screen and (min-width: $screen-xxl) {
      max-width: 70%;
    }
  }
  @media screen and (min-width: $screen-xl) {
    .navbar {
      width: 600px;
    }
    .main-nav__item.hidden {
      display: block;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1300px) {
    .navbar {
      width: 570px;
    }
  }

  + .menuBar {
    //height: calc(100vh - 90px);
    &.active {
      top: 90px;
    }
  }
  //body.index &,
  //&.nav-up {
  //  &.page-header {
  //    padding: 10px 30px;
  //    @media screen and (min-width: $screen-xl) {
  //      padding: 10px 85px;
  //    }
  //  }
  //
  //  .header-content__bottom,
  //  .header-content__top {
  //    display: none
  //  }
  //
  //  .header-content__hidden {
  //    max-height: 200px;
  //  }
  //
  //
  //  @media screen and (min-width: $screen-xl) {
  //    .navbar {
  //      width: 600px;
  //    }
  //    .main-nav__item.hidden {
  //      display: block;
  //    }
  //  }
  //
  //  .header-content {
  //    max-width: 70%;
  //    @media screen and (min-width: $screen-xl) {
  //      max-width: 79%;
  //    }
  //    @media screen and (min-width: $screen-xxl) {
  //      max-width: 70%;
  //    }
  //  }
  //}

  //&:not(.nav-up) {
  //
  //}

}

//
// Main title
//
.title {
}


//
// old-browser
//
.browsehappy {
  @extend .container;
}

.lt-ie8 {
}
