extends ../layouts/master.pug

block pageName
  - var pageName = "index"
  - var pageBody = "about"

block header
  include ../partials/_headerFX.pug

block content
  .paginNumber
  .icons-arrow
    i.icon-arrow-up.arrow--js-up
    i.icon-arrow-down.arrow--js-down
  #fullpage.about
    .section.section__main
      .content-inner
        .container
          .about-inner
            h4
              +reveal(['Научно-производственное объединение «ЭРГА»', 'является крупнейшим в России производителем', 'магнитных систем и промышленного оборудования'])
            .aboutList(data-aos="fade-up")
              .aboutList__item(data-aos="fade-up", data-aos-delay='200')
                .aboutList__item-num 1991
                .aboutList__item-desc Год основания «‎ЭРГА»‎
              .aboutList__item(data-aos="fade-up", data-aos-delay='300')
                .aboutList__item-num 25 000 м&sup2;
                .aboutList__item-desc Общая площадь предприятия
              .aboutList__item.hidden__sm.hidden__xs(data-aos="fade-up", data-aos-delay='400')
                .aboutList__item-desc Полный цикл производства #[br] оборудования
              .aboutList__item(data-aos="fade-up", data-aos-delay='500')
                .aboutList__item-num >200
                .aboutList__item-desc Квалифицированных #[br] сотрудников
              .aboutList__item(data-aos="fade-up", data-aos-delay='600')
                .aboutList__item-num ISO 9001:2015
                .aboutList__item-desc Система контроля качества
              .aboutList__item.visible__sm.visible__xs(data-aos="fade-up", data-aos-delay='700')
                .aboutList__item-desc Полный цикл производства #[br] оборудования
          +roundLink('Подробнее о работе #[br] с нами')
    .section.section__trademark
      .content-inner
        .container
          .about-inner
            h3
              +reveal(['Наши торговые марки'])
            .aboutLogo(data-aos="fade-up")
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='200')
                .aboutLogo__item-img: +img('about/logo-1.svg')
                .aboutLogo__item-title ЭРГА
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='300')
                .aboutLogo__item-img: +img('about/logo-2.svg')
                .aboutLogo__item-title RESOLINE
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='400')
                .aboutLogo__item-img: +img('about/logo-3.svg')
                .aboutLogo__item-title ERGUARD
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='500')
                .aboutLogo__item-img: +img('about/logo-4.svg')
                .aboutLogo__item-title ЭЛКРОН
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='600')
                .aboutLogo__item-img: +img('about/logo-5.svg')
                .aboutLogo__item-title АРМАГ
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='700')
                .aboutLogo__item-img: +img('about/logo-6.svg')
                .aboutLogo__item-title ВЭЛМА
              .aboutLogo__item(data-aos="fade-up", data-aos-delay='800')
                .aboutLogo__item-img: +img('about/logo-7.svg')
                .aboutLogo__item-title WECONT
          +roundLink('Подробнее #[br] о торговых марках')
    .section.section__mat
      .content-inner
        .container
          .about-inner
            .aboutZoom.aboutZoom1(data-aos="fade-up")
              svg(width='368' height='677' viewbox='0 0 368 677' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                  radialgradient#maskGradient
                    stop(offset='50%' stop-color='#fff')
                    stop(offset='100%' stop-color='#000')
                  mask#theMask
                    circle.masker(r='150' fill='url(#maskGradient)' cx='800' cy='450')
                image#lines(xlink:href='assets/images/about/zoom-1.png' x='0' y='0' width='368' height='677')
                g#maskReveal(mask='url(#theMask)')
                  image#regular(xlink:href='assets/images/about/zoom-r1.png' x='0' y='0' width='368' height='677')
                circle.ring(cy="935", cx="577")
            h3
              +reveal(['Собственная лаборатория', 'исследования материалов'])
            h4
              +reveal(['В рамках лабораторных исследований', 'НПО «ЭРГА» предлагает:'])
            .col__xl-7.col__lg-8.col__md-10
              ul.list--dots(data-aos="fade-up")
                li(data-aos="fade-up") Обогащение руд
                li(data-aos="fade-up") Сепарация вторсырья
                li(data-aos="fade-up") Переработка шлаков
                li(data-aos="fade-up") Очистка пищевого сырья
          +roundLink('Подробнее #[br] о лаборатории')
    .section.section__support
      .content-inner
        .container
          .about-inner
            .aboutZoom.aboutZoom2(data-aos="fade-up")
              svg(width='1192' height='596' viewbox='0 0 1192 596' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                  radialgradient#maskGradient1
                    stop(offset='50%' stop-color='#fff')
                    stop(offset='100%' stop-color='#000')
                  mask#theMask1
                    circle.masker2(r='150' fill='url(#maskGradient1)' cx='800' cy='450')
                image#lines(xlink:href='assets/images/about/zoom-4.svg' x='0' y='0' width='1192' height='596')
                g#maskReveal1(mask='url(#theMask1)')
                  image#regular1(xlink:href='assets/images/about/zoom-r4.svg' x='0' y='0' width='1192' height='596')
                circle.ring2(cy="935", cx="577")
            h3
              +reveal(['Сервисная поддержка'])
            h4
              +reveal(['Приобретная оборудование, вы получаете', 'сервисную поддержку на всех этапах'])
            .descList(data-aos="fade-up")
              a.descList__item(data-aos="fade-up", href='#')
                .descList__item-title Сервисные услуги
                .descList__item-img: +img('icons/plus.svg')
              a.descList__item(data-aos="fade-up", href='#')
                .descList__item-title Обучение обслуживающего персонала
                .descList__item-img: +img('icons/plus.svg')
              a.descList__item(data-aos="fade-up", href='#')
                .descList__item-title Ремонт оборудования
                .descList__item-img: +img('icons/plus.svg')
          +roundLink('Подробнее #[br] о сервисе')
    .section.section__history
      .content-inner
        .container
          .about-inner
            h3
              +reveal(['История в 28 лет'])
            .row.left__md
              .col.col__lg-3.col__md-4.col__xs-10
                .historyPic.historyPic--left(data-aos="fade-up")
                  .historyPic-ico: +img('about/2001.svg')
                  .historyPic-num 2001
                  +img('about/history-1.jpg')
              .col.col__xl-7.col__lg-6.col__md-12.col__xs-12
                .historyIcoList(data-aos="fade-up")
                  .historyIcoList__item(data-aos="fade-up")
                    .historyIcoList__item-img: +img('about/history-1.svg')
                    .historyIcoList__item-text Расширение #[br] продуктовой линейки
                  .historyIcoList__item(data-aos="fade-up")
                    .historyIcoList__item-img: +img('about/history-2.svg')
                    .historyIcoList__item-text Открытие представительств #[br] ЭРГА Сибирь, ЭРГА Урал, ЭРГА Казахстан
                  .historyIcoList__item(data-aos="fade-up")
                    .historyIcoList__item-img: +img('about/history-3.svg')
                    .historyIcoList__item-text Развитие экспортных #[br] поставок
                  .historyIcoList__item(data-aos="fade-up")
                    .historyIcoList__item-img: +img('about/history-4.svg')
                    .historyIcoList__item-text Более 200 #[br] квалифицированных #[br] сотрудников
              .historyPic.historyPic--right(data-aos="fade-up")
                .historyPic-ico: +img('about/1991.svg')
                .historyPic-num 1991
                +img('about/history-2.jpg')
          +roundLink('Наша история')
    .section.section__sert
      .content-inner
        .container
          .about-inner
            h3
              +reveal(['Подтверждаем высокий уровень'])
            .row(data-aos="fade-up")
              .col.col__lg-5.col__md-6.col__xs-12
                ul.list--dots
                  li Сертифицированы #[br] по&nbsp;международным #[br] стандартам
                  li Участвуем в российских #[br] и международных выставках, #[br] конференциях
          +roundLink('Лицензии #[br] и сертификаты')
