extends ../layouts/master.pug

block pageName
  - var pageName = "fxindex"

block header
  include ../partials/_headerFX.pug

block content
  .container
    h1
      +reveal(['Контакты'])
    +breadcrumbs(['Контакты'])
    .contacts
      .contacts-desc
        .row.between__xs
          .col.col__xs-12
            .contacts-title(data-aos="fade-up")
              h4 Центральный офис
          .col.col__lg-5.col__md-4.col__xs-12
            .contacts-info(data-aos="fade-up")
              p Россия, г. Калуга, ул. Хрустальная, 22 (а/я 65)
              br
              p.text__sm 8:30 — 17:30 по МСК
                br
                | Суббота, воскресенье — выходной
              .hidden__sm.hidden__xs
                a.btn.btn--info(href='#')
                  i.icon-location
                  span Посмотреть на карте
          .col.col__lg-3.col__md-4.col__xs-12
            .contacts-info(data-aos="fade-up")
              .row
                .col.col__md-12.col__xs-6
                  p: a.text--primary(href='tel:84842922199'): b 8 4842 922-199
                  p.text__sm Многоканальный
                  br
                .col.col__md-12.col__xs-6
                  p: a.text--primary(href='tel:84842794280'): b 8 4842 79-42-80
                  p.text__sm Факс
          .col.col__lg-3.col__md-4.col__xs-12
            .contacts-info.contacts-info--last(data-aos="fade-up")
              p
                a.text--primary(href='mailto:info@erga.ru'): b info@erga.ru
              .margtop-auto
                div
                  a.arrowLine.popup-modal.popup-with-zoom-anim(href='#mailTo')
                    .the-arrow.the-arrow-left: i.shaft.icon-arrow-med-right
                    span.arrowLine-main Связаться с директором
                    .the-arrow.the-arrow-right: i.shaft.icon-arrow-mini-right
            
              .visible__sm.visible__xs
                br
                a.btn.btn--info(href='#')
                  i.icon-location
                  span Посмотреть на карте
          div.row-social.col
            ul.social
              li
                a(href='#')
                  i.icon-fa
                  span Facebook
              li
                a(href='#')
                  i.icon-youtube
                  span Youtube
              li
                a(href="#")
                  i.icon-instagram
                    svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M6.99997 4.62C5.70497 4.62 4.65497 5.66999 4.65497 6.96499C4.65497 8.25999 5.70497 9.30999 6.99997 9.30999C8.29497 9.30999 9.34497 8.25999 9.34497 6.96499C9.34497 5.66999 8.29497 4.62 6.99997 4.62Z" fill="#313131")
                      path(d="M9.45 0H4.55C2.065 0 0 2.065 0 4.55V9.415C0 11.935 2.065 13.965 4.55 13.965H9.415C11.935 13.965 13.965 11.9 13.965 9.415V4.55C14 2.065 11.935 0 9.45 0ZM7 10.64C5.005 10.64 3.36 9.03 3.36 7C3.36 4.97 5.005 3.36 7 3.36C8.995 3.36 10.64 4.97 10.64 7C10.64 8.995 9.03 10.64 7 10.64ZM10.57 4.235C10.08 4.235 9.695 3.815 9.695 3.36C9.695 2.905 10.115 2.45 10.57 2.45C11.06 2.45 11.445 2.87 11.445 3.325C11.445 3.85 11.06 4.235 10.57 4.235Z" fill="#313131")
                  span Instagram
              li
                a(href="#")
                  i.icon-instagram
                    svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                      g(clip-path="url(#clip0)")
                        path(d="M0.125351 15.9998L1.23377 11.9075C0.529436 10.7153 0.155357 9.3615 0.148414 7.97119C0.12662 3.62459 3.68329 0.0679279 8.0771 0.0438648C10.2093 0.0328505 12.2153 0.84334 13.729 2.32551C15.242 3.80768 16.0813 5.78417 16.0922 7.89117C16.114 12.2384 12.5573 15.7951 8.1635 15.8192C6.8296 15.8258 5.51333 15.5022 4.34558 14.88L0.125351 15.9998ZM4.53349 13.4515C5.66052 14.1051 6.73516 14.4943 8.15352 14.4872C11.8053 14.4672 14.764 11.5112 14.7462 7.89722C14.7277 4.27593 11.7509 1.3564 8.08707 1.37514C4.4326 1.39516 1.47593 4.35116 1.49438 7.96449C1.50179 9.43965 1.94487 10.5418 2.68518 11.6934L2.02879 14.1157L4.53349 13.4515ZM12.1463 9.78712C12.0963 9.70518 11.9633 9.65685 11.763 9.55916C11.5634 9.46146 10.5815 8.99013 10.3981 8.9255C10.2154 8.86086 10.0825 8.82844 9.95023 9.02674C9.81859 9.22437 9.43896 9.67067 9.32371 9.80258C9.20847 9.93449 9.09193 9.9517 8.89231 9.85401C8.69269 9.75631 8.04941 9.55231 7.28494 8.88486C6.6902 8.36566 6.2865 7.72276 6.16946 7.52582C6.05242 7.32955 6.15573 7.22224 6.2544 7.12357C6.34374 7.0349 6.45222 6.89242 6.55146 6.77652C6.65205 6.66193 6.68444 6.57953 6.75075 6.44723C6.81639 6.3156 6.78292 6.20041 6.7321 6.1019C6.68129 6.00406 6.27782 5.03627 6.1101 4.6427C5.94578 4.25971 5.78184 4.31233 5.65982 4.30703L5.27771 4.30249C5.14499 4.30322 4.92942 4.35346 4.74819 4.55203C4.56695 4.7506 4.05476 5.22945 4.06008 6.19941C4.06539 7.16937 4.78439 8.10228 4.88431 8.23301C4.9849 8.36373 6.3002 10.3469 8.30304 11.1892C8.77939 11.3895 9.1514 11.5088 9.4408 11.598C9.91887 11.7453 10.3531 11.7217 10.696 11.6694C11.0785 11.611 11.8718 11.1863 12.0355 10.7252C12.1992 10.2635 12.1971 9.86906 12.1463 9.78712Z" fill="#313131")
                      
                      defs
                        clipPath(id="clip0")
                          rect(width="16.0874" height="15.9121" fill="white" transform="translate(0 0.0881042) rotate(-0.313783)")
                  span WhatsApp
              li
                a(href="#")
                  i.icon-instagram
                    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(d="M0.282607 7.7144L3.96933 9.0904L5.39631 13.6796C5.48762 13.9735 5.84703 14.0821 6.08559 13.8871L8.14063 12.2118C8.35605 12.0363 8.66287 12.0275 8.88799 12.1909L12.5946 14.882C12.8498 15.0675 13.2113 14.9276 13.2753 14.6193L15.9906 1.5584C16.0604 1.22155 15.7294 0.940537 15.4087 1.06459L0.278287 6.90144C-0.0950995 7.04544 -0.0918461 7.57408 0.282607 7.7144ZM5.16634 8.35792L12.3716 3.92022C12.5011 3.8407 12.6343 4.01579 12.5231 4.11894L6.57669 9.6464C6.36767 9.84096 6.23285 10.1013 6.19466 10.3839L5.9921 11.8851C5.96527 12.0855 5.68373 12.1054 5.62842 11.9114L4.84938 9.17408C4.76015 8.86187 4.89018 8.52838 5.16634 8.35792Z" fill="#313131")
                  span Telegram
      .contacts-list
        .row
          .col.col__lg-4.col__md-4.col__xs-12(data-aos="fade-up")
            .contacts-list__item
              .contacts-title
                h4 ЭРГА-Сибирь
              p г. Новосибирск, #[br] ул. Немировича-Данченко, 104, #[br] оф. 708, 709
              br
              .margtop-auto
                p: a.text--primary(href='tel:83833638789'): b 8 383 36-38-789
                p: a.text--primary(href='tel:89105223016'): b 8 910-522-30-16
                br
                p: a.text--primary(href='mailto:sibir@erga.ru'): b sibir@erga.ru
                br
                a.btn.btn--info(href='#')
                  i.icon-location
                  span Посмотреть на карте
          .col.col__lg-4.col__md-4.col__xs-12(data-aos="fade-up")
            .contacts-list__item
              .contacts-title
                h4 ЭРГА-Урал
              p г. Оренбург, ул. Невельская, 9
              br
              .margtop-auto
                p: a.text--primary(href='tel:83532260775'): b 8 3532 26-07-75
                p: a.text--primary(href='tel:83532572130'): b 8 3532 57-21-30
                br
                p: a.text--primary(href='mailto:ural@erga.ru'): b ural@erga.ru
                br
                a.btn.btn--info(href='#')
                  i.icon-location
                  span Посмотреть на карте
          .col.col__lg-4.col__md-4.col__xs-12(data-aos="fade-up")
            .contacts-list__item
              .contacts-title
                h4 ЭРГА-Казахстан
              p Казахстан, г. Караганда, #[br] пр. Н. Абдирова, 30 Б
              br
              .margtop-auto
                p: a.text--primary(href='tel:87212513096'): b 8 7212 51-30-96
                p: a.text--primary(href='tel:87212512426'): b 8 7212 51-24-26
                br
                p: a.text--primary(href='mailto:erga-kazakhstan@inbox.ru'): b erga-kazakhstan@inbox.ru
                br
                a.btn.btn--info(href='#')
                  i.icon-location
                  span Посмотреть на карте
  #googleMap.googleMap(data-aos="fade-up")
  .contact.marquee.marquees эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —  эрга на карте —
  
  //- gallery
  section
    .container(data-aos="fade-up")
      include ../components/_landing-gallery
  
  //- form on page
  section
    .container(data-aos="fade-up")
      form.contacts-form(action='')
        h3 Any questions?
        include ../components/_form-landing
      form.contacts-form.return-form(action='')
        h3 Any questions?
        .return-inner.form__group
          h5 We have accepted your request #[br] and will process it as soon as we can.
        .form__group
          a.btn.btn--full.btn--info.return--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Send more
            i.icons-right.icon-arrow-mini-right

block footer
  include ../partials/_footer.pug
