extends ../layouts/master.pug

block pageName
  - var pageName = "fxindex"

block header
  include ../partials/_headerFX.pug

block content
  //- top
  section
    .container
      h1
        +reveal(['Research & Production Company ERGA'])
  
  //- gallery
  section
    .container(data-aos="fade-up")
      include ../components/_landing-gallery
  
  //- form on page
  section
    .container(data-aos="fade-up")
      form.contacts-form(action='')
        h3 Any questions?
        include ../components/_form-landing
      form.contacts-form.return-form(action='')
        h3 Any questions?
        .return-inner.form__group
          h5 We have accepted your request #[br] and will process it as soon as we can.
        .form__group
          a.btn.btn--full.btn--info.return--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Send more
            i.icons-right.icon-arrow-mini-right

block footer
  include ../partials/_footer-plain
