extends ../layouts/master.pug

block pageName
  - var pageName = "fxindex"

block header
  include ../partials/_headerFX.pug

block content
  .container
    h1
      +reveal(['Новости'])
    +breadcrumbs(['Новости', 'НПО «ЭРГА» на Международном Симпозиуме по воздушно-реактивным двигателям ISABE 2019 (Австралия, г. Канберра)'])
    .newsOne
      h3
        +reveal(['НПО «ЭРГА» на Международном Симпозиуме', 'по воздушно-реактивным двигателям ISABE 2019', '(Австралия, г. Канберра)'])
      .newsOne-content
        .mainNews-index.relative
          div(data-aos='fade-up')
            .mainNews-index-date 13 января 2019
            .mainNews-index-img.col__lg-9.col__md-10
              +img('news/news.jpg')
          .socialNews.hidden__sm.hidden__xs
            ul(data-aos='fade-up')
              li
                a(href='#'): i.icon-fa
              li
                a(href='#'): i.icon-vk
              li
                a(href='#'): i.icon-tw
        .newsOne-desc.col__lg-9.col__md-10(data-aos='fade-up')
          p В период с 22 по 27 сентября на Международном Симпозиуме по воздушно-реактивным двигателям ISABE 2019 в г. Канберра, Австралия, был представлен доклад «Разработка и испытание подвеса ротора ГТД на активных и пассивных магнитных подшипниках» ведущим научным сотрудником НПО «ЭРГА» Ливановым А.Е. совместно со специалистами Центрального института авиационного моторостроения (ЦИАМ) им. П.И. Баранова.
          p ISABE – масштабное событие для международного сообщества в области двигателестроения для летательных аппаратов, в рамках которого каждые два года проходят научные сессии и технические туры. Это площадка для глобального обмена опытом и представления новых научных разработок мировых лидеров, включая NASA, Rolls-Royce, Safran, General Electric, и др. по всем аспектам воздушно-реактивных двигателей (ВРД) для летательных аппаратов  во всех скоростных режимах и двигателей для производства электроэнергии и компонентам. Наибольший упор делается на создание и использование наилучших технологий для устойчивого развития.
      include ../components/_newsOneSlider
      a.newsLink(href='#', data-aos='fade-up')
        i.icon-arrow-left
        span Вернуться в список новостей
    .row.between__xs.newsCarousel
      .col.col__md-6.col__xs-12(data-aos='fade-up')
        h3
          +reveal(['Другие новости'])
        .swiper-button.hidden__sm.hidden__xs(data-aos='fade-up')
          .swiper-btn-next: i.icon-arrow-right
          .swiper-btn-prev: i.icon-arrow-left
      .col.col__lg-5.col__md-6.col__xs-12(data-aos='fade-up')
        .swiper-container
          .swiper-wrapper
            - for (let x = 1; x < 4; x++)
              .swiper-slide
                .mainNews-list
                  a.mainNews-list__item(href='#')
                    .mainNews-index-date 13 января 2019
                    .mainNews-index-title Уважаемые партнеры! От всей души поздравляем #[br] вас с наступающим 2019 годом и Рождеством!
                  a.mainNews-list__item(href='#')
                    .mainNews-index-date 13 января 2019
                    .mainNews-index-title Уважаемые партнеры! От всей души поздравляем #[br] вас с наступающим 2019 годом и Рождеством!
                  a.mainNews-list__item(href='#')
                    .mainNews-index-date 13 января 2019
                    .mainNews-index-title Уважаемые партнеры! От всей души поздравляем #[br] вас с наступающим 2019 годом и Рождеством!
    include ../components/_newsSign



block footer
  include ../partials/_footer.pug
