.history {

  .tabs {
    &-list {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
        z-index: 9;
        display: block;
        position: fixed;
        left: 75%;
        top: 145px;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-lg) {
        left: 55%;
        top: 155px;
      }
      @media screen and (min-width: $screen-xl) {
        right: 25%;
        left: auto;
      }
      .tab {
        font-family: 'HalvarBreit-XBd';
        font-weight: 800;
        font-size: 12px;
        line-height: 46px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: $black;
        background-color: white;
        transition: color .5s, padding-left .5s;
        overflow: hidden;
        position: relative;
        padding-left: 0;
        @media screen and (max-width: $screen-sm-max) {

          &:before {
            content: '';
            width: 18px;
            height: 1.5px;
            background-color: $color-type-2a;
            left: 100px;
            position: absolute;
            transition: left .5s;
          }
          &.active {
            padding-left: 25px;
            &:before {
              left: 0;
            }
          }
        }
        @media screen and (min-width: $screen-lg) {
          font-size: 25px;
          font-size: 35px;
          margin-bottom: 20px;
          line-height: 46px;
          &:before {
            content: '';
            width: 85px;
            height: 1.5px;
            background-color: $color-type-2a;
            position: absolute;
            left: -100%;
            display: block;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: left .5s;
          }
        }
        &:hover {
          color: $color-type-2a;
        }
        &.active {
          @media screen and (min-width: $screen-lg) {
            padding-left: 100px;
          }
          color: $color-type-2a;
          &:before {
            left: 0;
          }
        }
      }
    }
  }

  &-arrow {
    position: fixed;
    bottom: 40px;
    left: 50px;
    display: none;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
    @media screen and (min-width: $screen-xl) {
      left: 100px;
    }
    i {
      margin-top: 30px;
      display: block;
      font-size: 65px;
      color: $black;
    }
  }

  .swiper-button-history {
    position: fixed;
    left: 90px;
    bottom: 40px;
    z-index: 9;
    i {
      color: $black;
      transition: color .5s;
      font-size: 60px;
      margin-top: 30px;
      display: block;
      cursor: pointer;
      &:hover {
        color: $color-type-2a;
      }
    }
  }
}

.mp-history {
  position: relative;
  //padding-top: 90px;
  @media screen and (min-width: $screen-md) {
    padding-top: 165px;
  }

  &__text {
    margin-left: auto;
    @media screen and (min-width: $screen-md) {
      margin-left: 87px;
    }
  }
  &__item {
    @media screen and (min-width: $screen-xl) {
      min-height: 100vh;
    }

    h5 {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      @media screen and (min-width: $screen-md) {
        font-size: 25px;
        line-height: 37px;
      }
    }
    .inner {
      @media screen and (min-width: $screen-xl) {
        margin-top: 50px;
        padding-left: 100px;
      }
    }
    .item {
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md) {
        margin-bottom: 100px;
      }
    }
  }
}

.mp-history__timeline {
  position: fixed;
  z-index: 19;
  left: 20px;
  top: 127px;
  color: $black;
  transition: all 0.2s ease-in-out;
  transform-origin: right;
  @media screen and (min-width: $screen-md) {
    left: 40px;
    top: 145px;
  }
  @media screen and (min-width: $screen-xl) {
    left: 85px;
  }
  &-item {
    cursor: pointer;
    display: block;
    line-height: 40px;
    position: relative;
    transition: color .5s;
    &:after {
      content: '';
      height: 4px;
      width: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $color-type-2a;
      transition: width .5s;
    }
    &:hover,
    &._active {
      color: $color-type-2a;
      &:after {
        width: 100%;
      }
    }
  }
}

.mp-history__fixed-age-inner, .mp-history__fixed-year-inner {
  position: relative;
  transition: top 0.3s ease-in-out;
}
.mp-history__fixed {
  position: fixed;
  bottom: 40px;
  left: 75%;
  height: 80px;
  width: 300px;
  overflow: hidden;
  font-size: 65px;
  display: flex;
  font-family: 'HalvarBreit-Bd';
  pointer-events: none;
  display: none;
  @media screen and (min-width: $screen-md) {
    display: flex;
  }
  @media screen and (min-width: $screen-lg) {
    bottom: 0;
    left: 55%;
    height: 200px;
    width: 400px;
    font-size: 120px;
  }
  @media screen and (min-width: $screen-xl) {
    height: 260px;
    width: 41vw;
    font-size: 13vw;
    right: 58px;
    left: auto;
  }
}

.mp-history__fixed-year {
  //margin-left: -60px;
}
