.search {
  padding-bottom: 50px;
  h1 {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 50px;
    }
  }
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'StratosLCWeb-Medium';
    font-size: 16px;
    line-height: 24px;
    @media screen and (min-width: $screen-md) {
      font-size: 34px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }
  .mainNews-list {
    margin-top: 0;
  }
  .catalog-content {
    margin-bottom: 50px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 100px;
    }
    &__item {
      @media screen and (min-width: $screen-lg) {
        width: 50%;
      }
    }
  }
  &-form {
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    @media screen and (min-width: $screen-md) {
      margin-top: 50px;
      margin-bottom: 80px;
    }
    input {
      padding-right: 50px;
      height: 50px;
      font-size: 14px;
      line-height: 21px;
      @media screen and (min-width: $screen-md) {
        height: 90px;
        padding-left: 30px;
        padding-right: 70px;
        font-size: 18px;
        line-height: 30px;
      }
    }
    button {
      background: none;
      border: none;
      outline: none;
      color: $base-color-main;
      font-size: 19px;
      position: absolute;
      right: 15px;
      top: 15px;
      @media screen and (min-width: $screen-md) {
        right: 30px;
        top: 35px;
      }
    }
  }
}
