footer.footer-plain
  .container(data-aos='fade-up')
    .footer-plain__row
      .footer-plain__col
        a.footer-plain__logo-image(href='#')
          img.footer-plain__logo-img(src='assets/images/logo-en.svg' alt='')
      .footer-plain__col
        ul.footer-plain__list
          li.footer-plain__list-item
            .footer-plain__agreement-wrapper
              a.footer-plain__agreement-link(href='#')
                |User agreement
          li.footer-plain__list-item
            p.footer-plain__developer-info
              |Made in&nbsp;
              a.footer-plain__developer-link(href='https://cloudmill.ru/')
                |CloudMill