footer.page-footer
  .container
    .row.between__xs.stretch__xs
      .col.col__lg-4.col__md-5.col__xs-12(data-aos='fade-up')
        .page-footer-address
          .page-footer-address__item
            .text__lg Россия, г. Калуга, #[br] ул. Хрустальная, д. 22
          .page-footer-address__item
            a.name(href='tel:84842922199') 8 4842 922-199
            .text__sm.text--info Многоканальный
          .page-footer-address__item
            a.name(href='mailto:info@erga.ru') info@erga.ru
            .text__sm.text--info По любым вопросам
          .page-footer-address__item
            .flex
              i.icon-clock
              .text__sm
                div 8:30 до 17:30 по Москве
                div Сб, вскр - выходной
      .col.col__md-4.col__xs-12.flex-column(data-aos='fade-up')
        div
          h6: a(href='#') каталог
          ul.page-footer-menu
            li: a(href='#') Сепараторы
            li: a(href='#') Промышленные металлодетекторы Erguard
            li: a(href='#') Комплексные решения Resoline
            li: a(href='#') Магнитные системы и устройства
            li: a(href='#') Высокоскоростные электрические машины ВЭЛМА
            li: a(href='#') Магнитные траверсы и захваты АРМАГ
            li: a(href='#') Оборудование для лабораторий
            li: a(href='#') Постоянные магниты
        .hidden__sm.hidden__xs
          ul.social
            li
              a(href='https://www.facebook.com/npo.erga/', target='_blank')
                i.icon-fa
                span Facebook
            li
              a(href='https://www.youtube.com/channel/UCZyCsEiMBSvy6cE8s3fFR2A', target='_blank')
                i.icon-youtube
                span Youtube
          div: a.page-footer-copy(href='#') Пользовательское соглашение
      .col.col__lg-2.col__md-3.col__xs-12.flex-column(data-aos='fade-up')
        div
          h6: a(href='#') О компании
          ul.page-footer-menu
            li: a(href='#') Как мы работаем
            li: a(href='#') Торговые марки
            li: a(href='#') Сертификаты
            li: a(href='#') История
            li: a(href='#') Глоссарий
        .titles
          h6: a(href='#') услуги
          h6: a(href='#') контакты
          h6: a(href='#') новости
          h6: a(href='#') публикации
      .col.col__xs-12.visible__xs.visible__sm
        ul.social
          li
            a(href='https://www.facebook.com/npo.erga/', target='_blank')
              i.icon-fa
              span Facebook
          li
            a(href='https://www.youtube.com/channel/UCZyCsEiMBSvy6cE8s3fFR2A', target='_blank')
              i.icon-youtube
              span Youtube
          li
            a(href='#', target='_blank')
              i.icon-instagram
              span Instagram
        div: a.page-footer-copy(href='#') Пользовательское соглашение
  .copyright.marquee-rtl © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены —&nbsp;
  a.copyright.marquee.marquees(href='https://cloudmill.ru', target='_blank')
    +img('cloudmill.svg')
    +img('cloudmill.svg')
