footer.page-footer
  .container
    .row.between__xs.stretch__xs
      .col.col__lg-4.col__md-5.col__xs-12(data-aos='fade-up')
        .page-footer-address
          .page-footer-address__item
            .text__lg Россия, г. Калуга, #[br] ул. Хрустальная, д. 22
          .page-footer-address__item
            a.name(href='tel:+74842922199') +7 4842 922-199
            .text__sm.text--info Многоканальный
          .page-footer-address__item
            a.name(href='mailto:info@erga.ru') info@erga.ru
            .text__sm.text--info По любым вопросам
          .page-footer-address__item
            .flex
              i.icon-clock
              .text__sm
                div 8:30 до 17:30 по Москве
                div Сб, вскр - выходной
      .col.col__md-4.col__xs-12.flex-column(data-aos='fade-up')
        div
          h6: a(href='#') каталог
          ul.page-footer-menu
            li: a(href='#') Сепараторы
            li: a(href='#') Промышленные металлодетекторы Erguard
            li: a(href='#') Комплексные решения Resoline
            li: a(href='#') Магнитные системы и устройства
            li: a(href='#') Высокоскоростные электрические машины ВЭЛМА
            li: a(href='#') Магнитные траверсы и захваты АРМАГ
            li: a(href='#') Оборудование для лабораторий
            li: a(href='#') Постоянные магниты
        .hidden__sm.hidden__xs
          ul.social
            li
              a(href='https://www.facebook.com/npo.erga/', target='_blank')
                i.icon-fa
                span Facebook
            li
              a(href='https://www.youtube.com/channel/UCZyCsEiMBSvy6cE8s3fFR2A', target='_blank')
                i.icon-youtube
                span Youtube
            li
              a(href='#', target='_blank')
                i.icon-instagram
                  svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M7.00003 4.61987C5.70503 4.61987 4.65503 5.66987 4.65503 6.96487C4.65503 8.25987 5.70503 9.30987 7.00003 9.30987C8.29503 9.30987 9.34503 8.25987 9.34503 6.96487C9.34503 5.66987 8.29503 4.61987 7.00003 4.61987Z" fill="white")
                    path(d="M9.45 0H4.55C2.065 0 0 2.065 0 4.55V9.415C0 11.935 2.065 13.965 4.55 13.965H9.415C11.935 13.965 13.965 11.9 13.965 9.415V4.55C14 2.065 11.935 0 9.45 0ZM7 10.64C5.005 10.64 3.36 9.03 3.36 7C3.36 4.97 5.005 3.36 7 3.36C8.995 3.36 10.64 4.97 10.64 7C10.64 8.995 9.03 10.64 7 10.64ZM10.57 4.235C10.08 4.235 9.695 3.815 9.695 3.36C9.695 2.905 10.115 2.45 10.57 2.45C11.06 2.45 11.445 2.87 11.445 3.325C11.445 3.85 11.06 4.235 10.57 4.235Z" fill="white")
                span Instagram
          div: a.page-footer-copy(href='#') Пользовательское соглашение
      .col.col__lg-2.col__md-3.col__xs-12.flex-column(data-aos='fade-up')
        div
          h6: a(href='#') О компании
          ul.page-footer-menu
            li: a(href='#') Как мы работаем
            li: a(href='#') Торговые марки
            li: a(href='#') Сертификаты
            li: a(href='#') История
            li: a(href='#') Глоссарий
        .titles
          h6: a(href='#') услуги
          h6: a(href='#') контакты
          h6: a(href='#') новости
          h6: a(href='#') публикации
      .col.col__xs-12.visible__xs.visible__sm
        ul.social
          li
            a(href='https://www.facebook.com/npo.erga/', target='_blank')
              i.icon-fa
              span Facebook
          li
            a(href='https://www.youtube.com/channel/UCZyCsEiMBSvy6cE8s3fFR2A', target='_blank')
              i.icon-youtube
              span Youtube
          li
            a(href='#', target='_blank')
              i.icon-instagram
              span Instagram
        div: a.page-footer-copy(href='#') Пользовательское соглашение
  .copyright.marquee-rtl © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены — © 2019 ЭРГА. Все права защищены —&nbsp;
  a.copyright.marquee.marquees(href='https://cloudmill.ru', target='_blank')
    +img('cloudmill.svg')
    +img('cloudmill.svg')
