.loader
  .loader-body
    svg(width='343' height='302' viewbox='0 0 343 302' fill='none' xmlns='http://www.w3.org/2000/svg')
      path(d='M262.113 163C304.314 147.9 332 122.544 332 93.8125C332 47.5241 260.142 10 171.5 9.99999C82.8583 9.99999 11 47.5241 11 93.8125C11 122.544 38.6862 147.9 80.8872 163' stroke='#DADADA' id="theMotionPath")
      path(d='M166 9.5L174.25 4.73686L174.25 14.2631L166 9.5Z' fill='#DADADA')
      path(d='M166 53L174.25 48.6699L174.25 57.3301L166 53Z' fill='#DADADA')
      path(d='M23.0499 125.148L14.2892 121.406L21.9099 115.69L23.0499 125.148Z' fill='#DADADA')
      path(d='M325.927 116.519L326.383 126.034L317.915 121.671L325.927 116.519Z' fill='#DADADA')
      path(d='M255.018 39.1181L264.441 37.7147L260.945 46.5764L255.018 39.1181Z' fill='#DADADA')
      path(d='M78.0163 43.1525L83.9456 35.6964L87.4381 44.5594L78.0163 43.1525Z' fill='#DADADA')
      path(d='M255.903 167C295.211 153.084 321 129.717 321 103.239C321 60.5811 254.067 26 171.5 26C88.9334 26 22 60.5811 22 103.239C22 129.717 47.7887 153.084 87.0974 167' stroke='#DADADA')
      path(d='M250.821 169C287.764 157.551 312 138.328 312 116.544C312 81.4497 249.096 53 171.5 53C93.904 53 31 81.4497 31 116.544C31 138.328 55.2362 157.551 92.1785 169' stroke='#DADADA')
      path(d='M262.113 138C304.314 153.1 332 178.456 332 207.187C332 253.476 260.142 291 171.5 291C82.8583 291 11 253.476 11 207.188C11 178.456 38.6862 153.1 80.8872 138' stroke='#DADADA' id="theMotionPath2")
      path(d='M166 291.5L174.25 296.263L174.25 286.737L166 291.5Z' fill='#DADADA')
      path(d='M166 248L174.25 252.33L174.25 243.67L166 248Z' fill='#DADADA')
      path(d='M23.0499 175.852L14.2892 179.594L21.9099 185.31L23.0499 175.852Z' fill='#DADADA')
      path(d='M325.927 184.481L326.383 174.966L317.915 179.329L325.927 184.481Z' fill='#DADADA')
      path(d='M255.018 261.882L264.441 263.285L260.945 254.424L255.018 261.882Z' fill='#DADADA')
      path(d='M78.0163 257.848L83.9456 265.304L87.4381 256.441L78.0163 257.848Z' fill='#DADADA')
      path(d='M255.903 134C295.211 147.916 321 171.283 321 197.761C321 240.419 254.067 275 171.5 275C88.9334 275 22 240.419 22 197.761C22 171.283 47.7887 147.916 87.0974 134' stroke='#DADADA')
      path(d='M250.821 132C287.764 143.449 312 162.672 312 184.456C312 219.55 249.096 248 171.5 248C93.904 248 31 219.55 31 184.456C31 162.672 55.2362 143.449 92.1785 132' stroke='#DADADA')
      circle.circleOne(r='6' fill='#DF0112')
        animateMotion(dur="5s" repeatCount="indefinite")
          mpath(xlink:href="#theMotionPath")
        animate(attributeName="fill" values="#0000BD;#DF0112;#0000BD" dur="5s" repeatCount="indefinite")
        animate(attributeName="r" values="6;10;6" dur="5s" repeatCount="indefinite")
        animate(attributeType="CSS" attributeName="opacity" from="0" to="1" dur="0.1s" repeatCount="once" fill="freeze")
      circle.circleTwo(r='6' fill='#DF0112')
        animateMotion(dur="5s" repeatCount="indefinite")
          mpath(xlink:href="#theMotionPath2")
        animate(attributeName="fill" values="#0000BD;#DF0112;#0000BD" dur="5s" repeatCount="indefinite")
        animate(attributeName="r" values="6;10;6" dur="5s" repeatCount="indefinite")
        animate(attributeType="CSS" attributeName="opacity" from="0" to="1" dur="0.1s" repeatCount="once" fill="freeze")
      rect(x='51' y='109' width='125' height='80' fill='#0000BD')
      rect(x='176' y='109' width='115' height='80' fill='#DF0112')
      path(d='M102.85 132.648V140.276H81.1617V145.211H101.814V152.739H81.1617V157.724H102.85V165.352H72V132.648H102.85Z' fill='white')
      path(d='M155.728 143.965C155.728 146.624 154.899 148.784 153.243 150.446C151.587 152.108 149.188 153.171 146.048 153.636L155.521 164.006V165.352H145.168L135.075 153.886H129.743V165.352H120.582V132.648H142.373C146.514 132.648 149.775 133.612 152.156 135.54C154.537 137.467 155.728 140.109 155.728 143.466V143.965ZM146.411 143.416C146.411 141.356 144.996 140.326 142.166 140.326H129.743V147.056H142.166C143.546 147.056 144.599 146.79 145.324 146.258C146.048 145.726 146.411 144.945 146.411 143.915V143.416Z' fill='white')
      path(d='M226.213 147.056V165.352H218.034L217.827 162.959C216.24 164.022 214.497 164.804 212.599 165.302C210.736 165.767 208.562 166 206.078 166C201.764 166 198.003 165.319 194.794 163.956C191.619 162.593 189.169 160.649 187.443 158.123C185.718 155.597 184.855 152.623 184.855 149.199V148.85C184.855 145.494 185.718 142.552 187.443 140.026C189.169 137.467 191.619 135.49 194.794 134.094C197.968 132.698 201.661 132 205.87 132C210.011 132 213.6 132.482 216.637 133.446C219.708 134.41 222.055 135.789 223.676 137.584C225.333 139.378 226.161 141.489 226.161 143.915V144.114H216.792V143.915C216.792 143.217 216.309 142.569 215.343 141.971C214.377 141.339 213.083 140.841 211.461 140.475C209.839 140.109 208.096 139.927 206.233 139.927C202.264 139.927 199.262 140.674 197.226 142.17C195.19 143.666 194.172 145.859 194.172 148.751V149.349C194.172 152.274 195.173 154.451 197.175 155.88C199.176 157.309 202.195 158.023 206.233 158.023C208.648 158.023 210.805 157.791 212.703 157.326C214.635 156.86 216.206 156.196 217.413 155.331V153.886H200.953V147.056H226.213Z' fill='white')
      path(d='M279 164.006V165.352H269.942L267.302 159.32H251.463L248.823 165.352H239.765V164.006L254.31 132.648H264.455L279 164.006ZM264.093 151.891L259.382 141.073L254.672 151.891H264.093Z' fill='white')
  .marquee
    span.marquee--inner
      div
        |#{'Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA'}
      div
        |#{'Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA — Research & Production Company ERGA'}
  .loader-outer
