//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 70px;
    list-style: none;
    font-size: 18px;
    line-height: 23px;
    display: none;
    align-items: flex-start;
    @media screen and (min-width: $screen-md) {
      display: inline-flex;
    }

    &__item {
      display: inline-flex;
      white-space: nowrap;
      & + & {
        span:before {
          content: "#{$breadcrumb-separator}";
          padding: 0 5px;
          color: $black;
        }
      }

      &.active {
        color: $black;
      }
    }
    &__link {
      color: #616161;
      display: inline-flex;
      align-items: center;
      opacity: 0.5;
      transition: color .5s;
      &:hover {
        color: $black;
      }
      i {
        margin-right: 8px;
        font-size: 10px;
      }
    }
  }
}
