//@import '~normalize.css/normalize.css';

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cqdhaf');
  src:  url('../fonts/icomoon.eot?cqdhaf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?cqdhaf') format('truetype'),
  url('../fonts/icomoon.woff?cqdhaf') format('woff'),
  url('../fonts/icomoon.svg?cqdhaf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'StratosLCWeb-Regular';
  src: url('../fonts/StratosLCWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StratosLCWeb-Regular.woff') format('woff'),
  url('../fonts/StratosLCWeb-Regular.ttf')  format('truetype'),
  url('../fonts/StratosLCWeb-Regular.svg#StratosLCWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StratosLCWeb-Medium';
  src: url('../fonts/StratosLCWeb-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/StratosLCWeb-Medium.woff') format('woff'),
  url('../fonts/StratosLCWeb-Medium.ttf')  format('truetype'),
  url('../fonts/StratosLCWeb-Medium.svg#StratosLCWeb-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'HalvarBreit-Blk';
  src: url('../fonts/HalvarBreit-Blk.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HalvarBreit-Blk.woff') format('woff'),
  url('../fonts/HalvarBreit-Blk.ttf')  format('truetype'),
  url('../fonts/HalvarBreit-Blk.svg#HalvarBreit-Blk') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HalvarBreit-Bd';
  src: url('../fonts/HalvarBreit-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HalvarBreit-Bd.woff') format('woff'),
  url('../fonts/HalvarBreit-Bd.ttf')  format('truetype'),
  url('../fonts/HalvarBreit-Bd.svg#HalvarBreit-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HalvarBreit-XBd';
  src: url('../fonts/HalvarBreit-XBd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HalvarBreit-XBd.woff') format('woff'),
  url('../fonts/HalvarBreit-XBd.ttf')  format('truetype'),
  url('../fonts/HalvarBreit-XBd.svg#HalvarBreit-XBd') format('svg');
  font-weight: normal;
  font-style: normal;
}




//
//sass/
////
//– base/
//   |– _forms.scss        # Forms rules
//   |– _typography.scss   # Typography rules
//   |– _buttons.scss      # Buttons
//   |– _forms.scss        # Forms
//   …                     # Etc.
//
//– modules/
//   |– _carousel.scss     # Carousel
//   |– _cover.scss        # Cover
//   |– _dropdown.scss     # Dropdown
//   …                     # Etc.
//
//– partials/
//   |– _navigation.scss   # Navigation
//   |– _grid.scss         # Grid system
//   |– _header.scss       # Header
//   |– _footer.scss       # Footer
//   |– _sidebar.scss      # Sidebar
//   …                     # Etc.
//
//– pages/
//   |– _home.scss         # Home specific styles
//   |– _contact.scss      # Contact specific styles
//   …                     # Etc.
//
//– themes/
//   |– _theme.scss        # Default theme
//   |– _admin.scss        # Admin theme
//   …                     # Etc.
//
//– helpers/
//   |– _variables.scss    # Sass Variables
//   |– _functions.scss    # Sass Functions
//   |– _mixins.scss       # Sass Mixins
//   |– _placeholders.scss # Sass Placeholders
//
//– vendors/
//   |– _reset.scss         # Reset
//   |– _debug.scss         # Debug mode
//   …                      # Etc.
//
//– main.scss              # Main Sass file
//


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color:                true!default;
$use-btn-size:                 true!default;
$use-btn-group:                false!default;
$use-input-group:              false!default;
$use-table:                    true!default;
$use-color-table:              false!default;
$use-column-table:             false!default;
$use-color-text:               true!default;

//modules
$use-accordion:                false!default;
$use-breadcrumb:               true!default;
$use-pagination:               true!default;
$use-pager:                    false!default;
$use-space:                    true!default;
$use-split:                    false!default;
$use-rules:                    false!default;
$use-this-or-this:             false!default;
$use-media:                    true!default;
// grids
$use-adaptive:                 true!default;
$use-flexbox:                  true!default;
$use-bem:                      false!default;
// plugins
$use-animations:               false!default;
$debug-mode:                   false!default;

@import "_sprites";

// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

// components
@import "~fullpage.js/dist/fullpage.css";
@import "~magnific-popup/dist/magnific-popup.css";
@import "~swiper/dist/css/swiper.css";
@import "~aos/dist/aos.css";
@import "~select2/dist/css/select2.css";
