.mp-history.js-mp-history
  .container(data-aos="fade-up", data-aos-delay='300')
    .mp-history__text.col__lg-5.col__md-8.col__xs-10
      .mp-history__item.js-mp-histoty-item(data-year='1991')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1992')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1993')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1994')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1995')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1996')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1997')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1998')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='1999')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
  .mp-history__fixed(data-aos="fade-up", data-aos-delay='300')
    .mp-history__fixed-age
      .mp-history__fixed-age-inner.js-mp-history-age-inner
        .mp-history__fixed-age-item.js-mp-history-age-item(data-age='19') 19
    .mp-history__fixed-year
      .mp-history__fixed-year-inner.js-mp-history-year-inner
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1991') 91
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1992') 92
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1993') 93
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1994') 94
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1995') 95
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1996') 96
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1997') 97
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1998') 98
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='1999') 99
  .mp-history__timeline(data-aos="fade-up", data-aos-delay='300')
    .mp-history__timeline-item.js-timeline-item._active(data-year='1991') 1991
    .mp-history__timeline-item.js-timeline-item(data-year='1992') 1992
    .mp-history__timeline-item.js-timeline-item(data-year='1993') 1993
    .mp-history__timeline-item.js-timeline-item(data-year='1994') 1994
    .mp-history__timeline-item.js-timeline-item(data-year='1995') 1995
    .mp-history__timeline-item.js-timeline-item(data-year='1996') 1996
    .mp-history__timeline-item.js-timeline-item(data-year='1997') 1997
    .mp-history__timeline-item.js-timeline-item(data-year='1998') 1998
    .mp-history__timeline-item.js-timeline-item(data-year='1999') 1999
