.mp-history.js-mp-history
  .container(data-aos="fade-up", data-aos-delay='300')
    .mp-history__text.col__lg-5.col__md-8.col__xs-10
      .mp-history__item.js-mp-histoty-item(data-year='2001')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2002')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2003')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2004')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2005')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2006')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2007')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2008')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
      .mp-history__item.js-mp-histoty-item(data-year='2009')
        +img('about/slideshow-1.jpg')
        .inner
          .item
            h5 Cоздано ТОО «ЭРГА»
            p 25 октября Создано товарищество с ограниценной ответственностью «ЭРГА» (зарегистрирован устав в Калужском гор. Совете народных депутатов, регистрационный номер 1300-Р)
          h5 Проведены НИОКР по разработке и выпуску магнитных систем для медицинской и оборонной техники
  .mp-history__fixed(data-aos="fade-up", data-aos-delay='300')
    .mp-history__fixed-age
      .mp-history__fixed-age-inner.js-mp-history-age-inner
        .mp-history__fixed-age-item.js-mp-history-age-item(data-age='20') 20
    .mp-history__fixed-year
      .mp-history__fixed-year-inner.js-mp-history-year-inner
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2001') 01
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2002') 02
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2003') 03
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2004') 04
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2005') 05
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2006') 06
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2007') 07
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2008') 08
        .mp-history__fixed-year-item.js-mp-history-year-item(data-year='2009') 09
  .mp-history__timeline(data-aos="fade-up", data-aos-delay='300')
    .mp-history__timeline-item.js-timeline-item._active(data-year='2001') 2001
    .mp-history__timeline-item.js-timeline-item(data-year='2002') 2002
    .mp-history__timeline-item.js-timeline-item(data-year='2003') 2003
    .mp-history__timeline-item.js-timeline-item(data-year='2004') 2004
    .mp-history__timeline-item.js-timeline-item(data-year='2005') 2005
    .mp-history__timeline-item.js-timeline-item(data-year='2006') 2006
    .mp-history__timeline-item.js-timeline-item(data-year='2007') 2007
    .mp-history__timeline-item.js-timeline-item(data-year='2008') 2008
    .mp-history__timeline-item.js-timeline-item(data-year='2009') 2009
