.swiper-button
  .swiper-btnS2-prev: i.icon-arrow-right
  .swiper-btnS2-next: i.icon-arrow-right
.trademark-carousel2--js
  .swiper-wrapper
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Шефмонтажные работы
        .descList__item-img: +img('icons/plus.svg')
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Пусконаладочные работы
        .descList__item-img: +img('icons/plus.svg')
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Обучение сотрудников
        .descList__item-img: +img('icons/plus.svg')
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Шефмонтажные работы
        .descList__item-img: +img('icons/plus.svg')
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Пусконаладочные работы
        .descList__item-img: +img('icons/plus.svg')
    .swiper-slide
      a.descList__item(data-aos="fade-up", href='#')
        .descList__item-title Обучение сотрудников
        .descList__item-img: +img('icons/plus.svg')
