#desc.tabs-content.show(data-aos="fade-up")
  .basecontent
    h5.firstTitle Динамические весы (чеквейер) WECONT позволяют с высокой точностью определять отклонение продукции по весу (недовес/перевес), сочетая в себе функции контроля, классификации, сортировки и отбраковки продукции, вес которой не соответствует заданному значению.
    ul.list--dots
      li Высокая точность взвешивания и скорость обработки данных позволяют увеличить объём производства качественной продукции, уменьшая и исключая брак и рекламации.
      li Применение контрольно-динамических весов WECONT способствует повышению прибыльности Вашего производства, в том числе за счет устранения перевеса готовой продукции.
      li Автоматическая система динамического взвешивания WECONT позволяет полностью исключить человеческий фактор, тем самым снизить издержки.
      li Гарантия соответствия продукции заданным весовым параметрам обеспечивает соблюдение стандарта качества выпускаемой Вами продукции, подтверждая репутацию надёжного партнёра и производителя.
    h5 Интуитивное управление
    p Панель управления WECONT представляет собой 7-ми дюймовый сенсорный экран высокой чёткости с интуитивно понятным пользовательским интерфейсом на русском языке: предусмотрены 3 уровня доступа к настройкам оборудования (рабочий, инженер, специалист сервисной службы).
    ul.list--dots
      li Автоматическая калибровка нулевой точки
      li Автоматический возврат данных в случае перебоев в электроснабжении
      li Установка произвольного диапазона масс
      li Плавная регулировка скорости конвейера
      li Быстрый вызов и удобное использование данных по 100 продуктам
      li Контроль времени взвешивания и интервала между взвешиваниями в зависимости от взвешиваемого продукта
      li Возможность интеграции с 1С через Ethernet канал с описанием протокола данных
    h5 Возможность сохранения до 100 продуктов
    p Введённые Вами индивидуальные настройки на конкретный продукт сохраняются в памяти системы, рассчитанной на 100 товарных позиций.
    h5 Модульная конструкция
    p Модульная конструкция оборудования WECONT включает в себя 4 блока: подающий конвейер, конвейерные весы, блок управления, опорная рама. Простая и оперативная замена одного из блоков в случае обнаружения неисправности позволяет сократить время простоя оборудования.
    h5 Класс защиты IP-65
    p Корпус динамических весов WECONT из нержавеющей стали соответствует классу защиты IP-65, что отвечает повышенным гигиеническим требованиям, предъявляемым в пищевой промышленности. Оборудование можно мыть.
    h5 Входы/выходы
    p Устройство оборудовано выходами отбраковщика и тревоги, входом для подключения металлодетектора, а также интерфейсами RS-232, USB.
#tech.tabs-content(data-aos="fade-up")
  .basecontent
    h5 Динамические весы (чеквейер) WECONT позволяют с высокой точностью определять отклонение продукции по весу (недовес/перевес), сочетая в себе функции контроля, классификации, сортировки и отбраковки продукции, вес которой не соответствует заданному значению.
    include ../components/_tableTech
    h5 Динамические весы (чеквейер) WECONT позволяют с высокой точностью определять отклонение продукции по весу (недовес/перевес), сочетая в себе функции контроля, классификации, сортировки и отбраковки продукции, вес которой не соответствует заданному значению.
#zip.tabs-content(data-aos="fade-up")
  .basecontent
    h5.firstTitle Динамические весы (чеквейер) WECONT позволяют с высокой точностью определять отклонение продукции по весу (недовес/перевес), сочетая в себе функции контроля, классификации, сортировки и отбраковки продукции, вес которой не соответствует заданному значению.
    ul.list--dots
      li Высокая точность взвешивания и скорость обработки данных позволяют увеличить объём производства качественной продукции, уменьшая и исключая брак и рекламации.
      li Применение контрольно-динамических весов WECONT способствует повышению прибыльности Вашего производства, в том числе за счет устранения перевеса готовой продукции.
      li Автоматическая система динамического взвешивания WECONT позволяет полностью исключить человеческий фактор, тем самым снизить издержки.
      li Гарантия соответствия продукции заданным весовым параметрам обеспечивает соблюдение стандарта качества выпускаемой Вами продукции, подтверждая репутацию надёжного партнёра и производителя.
    h5 Интуитивное управление
