.filtersBody
  .filtersBody__item#industry
    .filtersBody__item-content
      .filtersBody__item-close: i.icon-close
      .filtersBody__item-top
        .container
          h1 Отрасль
          .filtersBody-checkboxes.row
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item1', data-title='Руды чёрных и легирующих металлов')
                label(for='item1') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item2', data-title='Руды редких и редкоземельных металлов')
                label(for='item2') Руды редких и редкоземельных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item3', data-title='Неметаллические полезные ископаемые')
                label(for='item3') Неметаллические полезные ископаемые
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item4', data-title='Руды цветных металлов')
                label(for='item4') Руды цветных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item5', data-title='Транспортировка и переработка угля')
                label(for='item5') Транспортировка и переработка угля
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item6', data-title='Каменные карьеры')
                label(for='item6') Каменные карьеры
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item31', data-title='Руды чёрных и легирующих металлов')
                label(for='item31') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item32', data-title='Руды редких и редкоземельных металлов')
                label(for='item32') Руды редких и редкоземельных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item33', data-title='Неметаллические полезные ископаемые')
                label(for='item33') Неметаллические полезные ископаемые
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item34', data-title='Руды цветных металлов')
                label(for='item34') Руды цветных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item35', data-title='Транспортировка и переработка угля')
                label(for='item35') Транспортировка и переработка угля
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item36', data-title='Каменные карьеры')
                label(for='item36') Каменные карьеры
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item37', data-title='Руды чёрных и легирующих металлов')
                label(for='item37') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item38', data-title='Руды редких и редкоземельных металлов')
                label(for='item38') Руды редких и редкоземельных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item39', data-title='Неметаллические полезные ископаемые')
                label(for='item39') Неметаллические полезные ископаемые
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item40', data-title='Руды цветных металлов')
                label(for='item40') Руды цветных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item41', data-title='Транспортировка и переработка угля')
                label(for='item41') Транспортировка и переработка угля
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item42', data-title='Каменные карьеры')
                label(for='item42') Каменные карьеры
      .filtersBody__item-bottom
        .container
          .row
            .col.col__md-6.col__xs-12
              a.btn.btn--default.btn-arrow.btn--full.get-filterBody(href='#')
                i.icons-left.icon-arrow-med-right
                span Применить
                i.icons-right.icon-arrow-mini-right
            .col.col__md-6.col__xs-12.hidden__sm.hidden__xs
              a.btn.btn--default.btn-arrow.btn--full.reset-filterBody(href='#')
                i.icons-left.icon-reset
                span Сбросить
                i.icons-right.icon-reset
  .filtersBody__item#material
    .filtersBody__item-content
      .filtersBody__item-close: i.icon-close
      .filtersBody__item-top
        .container
          h1 Материал или продукт
          .filtersBody-checkboxes.row
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item7', data-title='Руды чёрных и легирующих металлов')
                label(for='item7') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item8', data-title='Руды редких и редкоземельных металлов')
                label(for='item8') Руды редких и редкоземельных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item9', data-title='Неметаллические полезные ископаемые')
                label(for='item9') Неметаллические полезные ископаемые
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item10', data-title='Руды цветных металлов')
                label(for='item10') Руды цветных металлов
      .filtersBody__item-bottom
        .container
          .row
            .col.col__md-6.col__xs-12
              a.btn.btn--default.btn-arrow.btn--full.get-filterBody(href='#')
                i.icons-left.icon-arrow-med-right
                span Применить
                i.icons-right.icon-arrow-mini-right
            .col.col__md-6.col__xs-12.hidden__sm.hidden__xs
              a.btn.btn--default.btn-arrow.btn--full.reset-filterBody(href='#')
                i.icons-left.icon-reset
                span Сбросить
                i.icons-right.icon-reset
  .filtersBody__item#equipment
    .filtersBody__item-content
      .filtersBody__item-close: i.icon-close
      .filtersBody__item-top
        .container
          h1 Тип оборудования
          .filtersBody-checkboxes.row
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item11', data-title='Руды чёрных и легирующих металлов')
                label(for='item11') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item12', data-title='Руды редких и редкоземельных металлов')
                label(for='item12') Руды редких и редкоземельных металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item13', data-title='Неметаллические полезные ископаемые')
                label(for='item13') Неметаллические полезные ископаемые
      .filtersBody__item-bottom
        .container
          .row
            .col.col__md-6.col__xs-12
              a.btn.btn--default.btn-arrow.btn--full.get-filterBody(href='#')
                i.icons-left.icon-arrow-med-right
                span Применить
                i.icons-right.icon-arrow-mini-right
            .col.col__md-6.col__xs-12.hidden__sm.hidden__xs
              a.btn.btn--default.btn-arrow.btn--full.reset-filterBody(href='#')
                i.icons-left.icon-reset
                span Сбросить
                i.icons-right.icon-reset
  .filtersBody__item#technology
    .filtersBody__item-content
      .filtersBody__item-close: i.icon-close
      .filtersBody__item-top
        .container
          h1 Технологии переработки
          .filtersBody-checkboxes.row
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item14', data-title='Руды чёрных и легирующих металлов')
                label(for='item14') Руды чёрных и легирующих металлов
            .col.col__md-6.col__xs-12
              .filtersBody-checkbox
                input(type='checkbox', id='item15', data-title='Руды редких и редкоземельных металлов')
                label(for='item15') Руды редких и редкоземельных металлов
      .filtersBody__item-bottom
        .container
          .row
            .col.col__md-6.col__xs-12
              a.btn.btn--default.btn-arrow.btn--full.get-filterBody(href='#')
                i.icons-left.icon-arrow-med-right
                span Применить
                i.icons-right.icon-arrow-mini-right
            .col.col__md-6.col__xs-12.hidden__sm.hidden__xs
              a.btn.btn--default.btn-arrow.btn--full.reset-filterBody(href='#')
                i.icons-left.icon-reset
                span Сбросить
                i.icons-right.icon-reset
