.row
  .col.col__md-6.col__xs-12(data-aos="fade-up")
    .form__group: +fieldLabelInput('text', 'name', 'name5577', 'Имя', false)
    .form__group: +fieldLabelInput('text', 'company', 'company5577', 'Название компании', false)
    .form__group: +fieldLabelInput('text', 'phone', 'phone5577', 'Телефон*', true)
    .form__group: +fieldLabelInput('email', 'email', 'email5577', 'E-mail*', true)
  .col.col__md-6.col__xs-12(data-aos="fade-up")
    .form__group
      select.select(style='width:100%')
        option(value='', disabled, selected) Отрасль*
        option Горная отрасль
        option Металлургия
        option Рециклинг
        option Пищевая отрасль
        option Машиностроение
        option Стекольная отрасль
        option Химическая отрасль
        option Строительная отрасль
        option Нефтегазовая отрасль
        option Огнеупорная отрасль
    .form__group
      +fieldLabelTextarea('text', 'text5577', 'Ваш вопрос', false)
.row
  .col.col__md-6.col__xs-12(data-aos="fade-up")
    .checkbox.form__group
      input(type="checkbox", id='faqId5577')
      label.label(for='faqId5577')
        span Вы даете согласие на обработку Ваших персональных данных в соответствии с #[a(href='#') регламентирующими документами сайта]
  .col.col__md-6.col__xs-12(data-aos="fade-up")
    .form__group
      a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
        i.icons-left.icon-arrow-med-right
        span Отправить
        i.icons-right.icon-arrow-mini-right
