#download.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Download'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'name', 'name-landing', 'Name', false)
        .form__group: +fieldLabelInput('email', 'email', 'email-landing', 'E-mail*', true, '#')
        .form__group: +fieldLabelInput('text', 'phone', 'phone-landing', 'Telephone*', true, '#')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'company', 'company-landing', 'Company name', false)
        .form__group: +fieldLabelTextarea('text', 'text-landing', 'Additional information', false, 'small')
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .checkbox.form__group
          input(type="checkbox", id='faq-landing')
          label.label(for='faq-landing')
            span You consent to the processing of your personal data in accordance with #[a(href='#') the site's regulatory documents]
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Send
            i.icons-right.icon-arrow-mini-right

#get-quote.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Get a quote'])
    form.form-request
      .row(data-aos='')
        .col.col__md-6.col__xs-12
          .form__group: +fieldLabelInput('text', 'name', 'name-landing', 'Name', false)
          .form__group: +fieldLabelInput('email', 'email', 'email-landing', 'E-mail*', true, '#')
          .form__group: +fieldLabelInput('text', 'phone', 'phone-landing', 'Telephone*', true, '#')
        .col.col__md-6.col__xs-12
          .form__group: +fieldLabelInput('text', 'company', 'company-landing', 'Company name', false)
          .form__group: +fieldLabelTextarea('text', 'text-landing', 'Describe your task', false, 'small')
      .row(data-aos='')
        .col.col__md-6.col__xs-12
          .checkbox.form__group
            input(type="checkbox", id='faq-landing')
            label.label(for='faq-landing')
              span You consent to the processing of your personal data in accordance with #[a(href='#') the site's regulatory documents]
        .col.col__md-6.col__xs-12
          .form__group
            a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
              i.icons-left.icon-arrow-med-right
              span Send
              i.icons-right.icon-arrow-mini-right
    form.form-response(data-aos='')
      .return-inner.form__group
        h5 We have accepted your request #[br] and will process it as soon as we can.
      .form__group
        a.btn.btn--full.btn--info.return--js.btn-arrow(href='#')
          i.icons-left.icon-arrow-med-right
          span Send more
          i.icons-right.icon-arrow-mini-right



#not-found.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(["Haven't found your material?"])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'name', 'name-landing', 'Name', false)
        .form__group: +fieldLabelInput('email', 'email', 'email-landing', 'E-mail*', true, '#')
        .form__group: +fieldLabelInput('text', 'phone', 'phone-landing', 'Telephone*', true, '#')
        .form__group: +fieldLabelInput('text', 'company', 'company-landing', 'Company name', false)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'material', 'material-landing', 'Specify your material*', true)
        .form__group: +fieldLabelTextarea('text', 'text-landing', 'Describe your task', false, 'large')
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .checkbox.form__group
          input(type="checkbox", id='faq-landing')
          label.label(for='faq-landing')
            span You consent to the processing of your personal data in accordance with #[a(href='#') the site's regulatory documents]
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Send
            i.icons-right.icon-arrow-mini-right

#response.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative(data-aos='')
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Get a quote'])
    .return-inner.form__group
      h5 We have accepted your request #[br] and will process it as soon as we can.
    .form__group
      a.btn.btn--full.btn--info.return--js.btn-arrow(href='#')
        i.icons-left.icon-arrow-med-right
        span Send more
        i.icons-right.icon-arrow-mini-right

#card.card-popup.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .card-popup__close.close-popup.popup-modal-dismiss: i.icon-close
  .card-popup__container
      .card-popup__show
        .card-popup__show-top(data-aos='')
          figure.card-popup__logo-image(data-aos="")
            img.card-popup__logo-img(src='assets/images/card/elkron.svg' alt='')
          .card-popup__show-top-buttons.landing__top-slider-buttons(data-aos='')
            .landing__top-slider-button.landing__top-slider-button--left
              i.icon-arrow-right
            .landing__top-slider-button.landing__top-slider-button--right
              i.icon-arrow-right
        .card-popup__show-content
          .card-popup__slider(data-aos='')
            .card-popup__slider-container
              .swiper-wrapper
                each slide in [1, 2, 3]
                  .swiper-slide.card-popup__slider-slide(data-aos="")
                    figure.card-popup__slider-image
                      img.card-popup__slider-img(src='assets/images/landing/card-1.png')
          .card-popup__show-content-buttons.landing__top-slider-buttons
            .landing__top-slider-button.landing__top-slider-button--left(data-aos='')
              i.icon-arrow-right
            .landing__top-slider-button.landing__top-slider-button--right(data-aos='')
              i.icon-arrow-right
          a.card-popup__button.btn.btn--primary.btn-arrow.btn--full.popup-plain(href='#get-quote' data-aos='')
            i.icons-left.icon-arrow-med-right
            span Get a quote
            i.icons-right.icon-arrow-mini-right
      .card-popup__info(data-aos='')
        .card-popup__info-content
          .card-top__right(data-aos="fade-up")
            h1
              +reveal(['ELKRON ESS electrostatic separators '])
            p
              |Electrostatic corona drum separator for separation of materials with different electrical properties.
            hr
            ul.list--unstyled
              li
                .image: +img('icons/ico-slide-1 1.svg')
                span Separation/cleaning efficiency up to 99.8%
              li
                .image: +img('icons/ico-slide-2 2.svg')
                span High capacity
              li
                .image: +img('icons/ico-slide-3 3.svg')
                span Fine adjustment of separation mode
              li
                .image: +img('icons/ico-slide-4.svg')
                span Automatic cleaning of electrodes
              li
                .image: +img('icons/ico-slide-5.svg')
                span Touch Screen intuitive control
              li
                .image: +img('icons/ico-slide-6.svg')
                span Reliable components from the world leading manufacturers (Japan, Germany)
              li
                .image: +img('icons/ico-slide-1 1.svg')
                span Low power consumption (from 0,25 kW)
              li
                .image: +img('icons/ico-slide-2 2.svg')
                span Dry separation method
          .basecontent(data-aos="fade-up")
