ul.pagination
    li.pagination__item
        a.pagination__link(href='#'): i.icon-arrow-mini-left
    li.pagination__item.active
        a.pagination__link(href='#') 1
    li.pagination__item
        a.pagination__link(href='#') 2
    li.pagination__item
        a.pagination__link(href='#') 3
    li.pagination__item
        a.pagination__link(href='#') ...
    li.pagination__item
        a.pagination__link(href='#') 26
    li.pagination__item
        a.pagination__link(href='#'): i.icon-arrow-mini-right
