#call.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['заказать звонок'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'name', 'name122', 'Имя', false)
        .form__group: +fieldLabelInput('text', 'company', 'company22', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'phone', 'phone22', 'Телефон*', true)
        .form__group: +fieldLabelInput('email', 'email', 'email22', 'E-mail*', true)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'mat', 'mat22', 'Материал сепарации', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group
          +fieldLabelTextarea('text', 'text', 'Опишите задачу', false)
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .checkbox.form__group
          input(type="checkbox", id='faqId22')
          label.label(for='faqId22')
            span Вы даете согласие на обработку Ваших персональных данных #[br] в соответствии с #[a(href='#') регламентирующими документами сайта]
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right

#call1.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Скачать листовку'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'name', 'name1262', 'Имя', false)
        .form__group: +fieldLabelInput('text', 'company', 'company262', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'phone', 'phone262', 'Телефон*', true)
        .form__group: +fieldLabelInput('email', 'email', 'email262', 'E-mail*', true)
      .col.col__md-6.col__xs-12
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group
          +fieldLabelTextarea('text', 'text', 'Дополнительная информация', false)
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .checkbox.form__group
          input(type="checkbox", id='faqId262')
          label.label(for='faqId262')
            span Вы даете согласие на обработку Ваших персональных данных #[br] в соответствии с #[a(href='#') регламентирующими документами сайта]
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right

#call2.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Скачать отраслевой каталог'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'name', 'name1272', 'Имя', false)
        .form__group: +fieldLabelInput('text', 'company', 'company272', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'phone', 'phone272', 'Телефон*', true)
        .form__group: +fieldLabelInput('email', 'email', 'email272', 'E-mail*', true)
      .col.col__md-6.col__xs-12
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group
          +fieldLabelTextarea('text', 'text', 'Дополнительная информация', false)
    .row.middle__xs(data-aos='')
      .col.col__md-6.col__xs-12
        .checkbox.form__group
          input(type="checkbox", id='faqId272')
          label.label(for='faqId22')
            span Вы даете согласие на обработку Ваших персональных данных #[br] в соответствии с #[a(href='#') регламентирующими документами сайта]
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right

#patent.mfp-hide.popup-block.zoom-anim-dialog.popup-block--grey
  .background
  .close-popup.popup-modal-dismiss: i.icon-close
  .container.relative(data-aos='')
    .text--center
      +img('patent.png')

#sample.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Заказать пробную сепарацию'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formName', 'formName', 'Имя', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group: +fieldLabelInput('text', 'phone', 'formPhone', 'Телефон*', true)
        .form__group
          +fieldLabelTextarea('text', 'text', 'Опишите задачу', false)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formCompany', 'formCompany', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'mat', 'mat262', 'Материал сепарации*', true)
        .form__group: +fieldLabelInput('email', 'formEmail', 'formEmail', 'E-mail*', true)
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formID')
          label.label(for='formID')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#getPrice.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Узнать стоимость'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formNameP', 'formNameP', 'Имя', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group
          +fieldLabelTextarea('text', 'text', 'Опишите задачу', false)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formCompanyP', 'formCompanyP', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'phone', 'formPhoneP', 'Телефон*', true)
        .form__group: +fieldLabelInput('email', 'formEmailP', 'formEmailP', 'E-mail*', true)
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formIDPrice')
          label.label(for='formIDPrice')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#getACall.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    .row.center__xs
      .col.col__md-6.col__xs-12
        h2
          +reveal(['Заказать звонок'])
    .row.center__xs(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formName1', 'formName1', 'Имя', true)
        .form__group: +fieldLabelInput('text', 'phone', 'formPhone1', 'Телефон*', true)
        .form__group: +fieldLabelInput('text', 'formCompany1', 'formCompany1', 'Название компании', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formID1')
          label.label(for='formID1')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#getACall2.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    .row.center__xs
      .col.col__md-6.col__xs-12
        h2
          +reveal(['Заказать звонок в каталоге'])
    .row.center__xs(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formName16', 'formName16', 'Имя', true)
        .form__group: +fieldLabelInput('text', 'phone', 'formPhone16', 'Телефон*', true)
        .form__group: +fieldLabelInput('text', 'formCompany16', 'formCompany16', 'Название компании', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group.long
          +fieldLabelTextarea('text', 'text', 'Ваш вопрос', false)
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formID4')
          label.label(for='formID4')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#notFound.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Не нашли свою отрасль?'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formName2', 'formName2', 'Имя', false)
        .form__group: +fieldLabelInput('text', 'phone', 'formPhone2', 'Телефон*', true)
        .form__group: +fieldLabelInput('text', 'formMat2', 'formMat2', 'Укажите Вашу отрасль', true)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formCompany2', 'formCompany2', 'Название компании', false)
        .form__group: +fieldLabelInput('email', 'formEmail2', 'formEmail2', 'E-mail*', true)
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formID2')
          label.label(for='formID2')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#notFoundProduct.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Не нашли свой материал или продукт?'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formName3', 'formName3', 'Имя', false)
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group: +fieldLabelInput('text', 'phone', 'formPhone3', 'Телефон*', true)
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'formCompany3', 'formCompany3', 'Название компании', false)
        .form__group: +fieldLabelInput('text', 'formMat3', 'formMat3', 'Укажите Ваш материал/продукт', false)
        .form__group: +fieldLabelInput('email', 'formEmail3', 'formEmail3', 'E-mail*', true)
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='formID3')
          label.label(for='formID3')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]

#mailTo.mfp-hide.popup-block.zoom-anim-dialog
  .background
  .container.relative
    .close-popup.popup-modal-dismiss: i.icon-close
    h2
      +reveal(['Связаться с директором'])
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'mailToName', 'mailToName', 'Имя', false)
        .form__group: +fieldLabelInput('text', 'mailToCompany', 'mailToCompany', 'Название компании', false)
        .form__group: +fieldLabelInput('email', 'mailToEmail', 'mailToEmail', 'E-mail*', true)
      .col.col__md-6.col__xs-12
        .form__group
          select.select(style='width:100%')
            option(value='', disabled, selected) Отрасль*
            option Горная отрасль
            option Металлургия
            option Рециклинг
            option Пищевая отрасль
            option Машиностроение
            option Стекольная отрасль
            option Химическая отрасль
            option Строительная отрасль
            option Нефтегазовая отрасль
            option Огнеупорная отрасль
        .form__group.long
          +fieldLabelTextarea('text', 'text', 'Ваш вопрос', false)
    .row(data-aos='')
      .col.col__md-6.col__xs-12
        .form__group: +fieldLabelInput('text', 'phone', 'mailToPhone', 'Телефон*', true)
      .col.col__md-6.col__xs-12
        .form__group
          a.btn.btn--full.btn--primary.send--js.btn-arrow(href='#')
            i.icons-left.icon-arrow-med-right
            span Отправить
            i.icons-right.icon-arrow-mini-right
        .checkbox.form__group
          input(type="checkbox", id='mailToFaq')
          label.label(for='mailToFaq')
            span Вы даете согласие на обработку Ваших персональных данных #[br]  в соответствии с #[a(href='#') регламентирующими документами сайта]
