.scroll-up
    svg.scroll-up__icon.scroll-up__icon--mobile(width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M2.22339 6.77708L5.00016 2.26815L7.77694 6.77708L2.22339 6.77708Z" stroke="#0000BD" stroke-width="1.5")
    svg.scroll-up__icon.scroll-up__icon--desktop(width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M1.41449 10.5L7 1.43026L12.5855 10.5L1.41449 10.5Z" stroke="#0000BD" stroke-width="1.5")