ul.social
  li
    a(href='#')
      i.icon-fa
      span Facebook
  li
    a(href='#')
      i.icon-youtube
      span Youtube
  li
    a(href="#")
      i.icon-instagram
      span Instagram
  li
    a(href="#")
      i.icon-instagram
      span Instagram
  li
    a(href="#")
      i.icon-instagram
      span Instagram
