.stepper-btn
  a.btn.btn--default(href='assets/files/card27.pdf', target='_blank')
    span Скачать опросный лист
      br
      small .PDF&nbsp;&nbsp;235 KB.
    i.icon-download
form.steps-form-valid.stepper-four(action='#')
  div
    h3 1
    section
      h4 Описание продукта и способа его транспортировки
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-1', 'Продукт*', true)
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-2', 'Свойства продукта', false)
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-3', 'Температура продукта, °С', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-4', 'Состав продукта', false)
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-5', 'Диаметр трубопровода, мм*', true, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-6', 'Производительность, кг/ч*', true, 'isNumber')
      h5 Способ подачи продукта
      .form__group
        +fieldCheckbox('Подача непрерывная', 'man', false, 'checkbox--inline')
        +fieldCheckbox('Подача с интервалом', 'man1', false, 'checkbox--inline')
        +fieldCheckbox('Подача порционно', 'man2', false, 'checkbox--inline')
      .row
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'temp99', 'temp99', 'Давление в трубопроводе, атм', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'temp88', 'temp88', 'Скорость потока', false)
      br
      .stepper-next: +btnArrowSub('Шаг 2', 'btn--full')
    h3 2
    section
      h4 Место установки металлодетектора/окружающая среда/чистка
      .form__group: +fieldLabelTextarea('txt6', 'txt6', 'Краткое описание места установки (цех/участок, какие технологические операции выполняются)', false)
      .form__group: +fieldLabelInputId('id-8', 'Температура окружающей среды, °С', false, 'isNumber')
      h5 Предполагаемый способ чистки металлодетектора:
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group
          +fieldCheckbox('С применением агрессивных растворов', 'clean1', false)
          +fieldCheckbox('Без применения агрессивных растворов', 'clean2', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInputId('id-9', 'Растворы', false)
      br
      .stepper-next: +btnArrowSub('Шаг 3', 'btn--full')
    h3 3
    section
      h4 Требования к металлодетектору
      .form__group: +fieldLabelInputId('id-10', 'Необходимая длина сетевого кабеля, м', false)
      label.form__group Необходимая система отбраковки
      .form__group
        +fieldCheckbox('Система автоматической отбраковки', 'attr77', false)
      .form__group: +fieldLabelInputId('id-11', 'Другое', false)
      label.form__group Размещение панели оператора
      .form__group
        +fieldCheckbox('А - на выносном пульте управления', 'attr87', false, 'checkbox--inline')
        +fieldCheckbox('Б - на раме', 'attr88', false, 'checkbox--inline')
      .form__group: +fieldLabelTextarea('txt0', 'txt0', 'Дополнительная информация', false)
      br
      .stepper-next: +btnArrowSub('Шаг 4', 'btn--full')
    h3 4
    include ../components/_stepperLast1
