.stepper-btn
  a.btn.btn--default(href='assets/files/card22.pdf', target='_blank')
    span Скачать опросный лист
      br
      small .PDF&nbsp;&nbsp;235 KB.
    i.icon-download
form.steps-form-valid.stepper-five(action='#')
  div
    h3 1
    section
      h4 Описание продукта и способа его транспортировки
      .form__group: +fieldLabelInputId('id-1', 'Продукт*', true)
      h5 Свойства продукта
      .form__group
        +fieldCheckbox('Сухой', 'attr1', false, 'checkbox--inline')
        +fieldCheckbox('Влажный', 'attr2', false, 'checkbox--inline')
        +fieldCheckbox('Жидкий', 'attr3', false, 'checkbox--inline')
        +fieldCheckbox('Частично замороженный', 'attr5', false, 'checkbox--inline')
        +fieldCheckbox('Полностью замороженный', 'attr7', false, 'checkbox--inline')
        +fieldCheckbox('Липкий/комкующийся', 'attr6', false, 'checkbox--inline')
      .form__group: +fieldLabelInputId('id-2', 'Прочие свойства', false)
      .form__group: +fieldLabelInputId('id-3', 'Температура продукта, °С', false, 'isNumber')
      h5 Упаковка
      .form__group
        +fieldCheckbox('Без упаковки', 'man', false, 'checkbox--inline')
        +fieldCheckbox('Металлизированная', 'man1', false, 'checkbox--inline')
        +fieldCheckbox('Не металлизированная', 'man2', false, 'checkbox--inline')
      h5 Способ подачи продукта на конвейер детектора
      .row.middle__xs
        .col.col__xs-12.form__group: +fieldCheckbox('Вручную', 'man66', false)
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldCheckbox('С конвейера', 'man88', false)
        .col.col__lg-9.col__md-6.col__xs-12.form__group: +fieldLabelInputId('from2', 'Укажите скорость движения ленты конвейера, м/с', false, 'isNumber')
      .form__group: +fieldLabelInputId('id-4', 'Другой способ подачи', false)
      br
      .stepper-next: +btnArrowSub('Шаг 2', 'btn--full')
    h3 2
    section
      h4 Для продуктов, транспортируемых россыпью/внавалку
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-5', 'Ширина конвейерной ленты, мм*', true, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-6', 'Ширина слоя продукта, мм', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-7', 'Высота слоя продукта, мм', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-8', 'Производительность, кг/ч', false, 'isNumber')
      h4 Для продуктов, транспортируемых поштучно
      .row.middle__xs
        .col.col__lg-3.col__md-6.col__xs-12.form__group: label Размеры продукта, мм
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-9', 'A*', true, 'isNumber')
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-10', 'B*', true, 'isNumber')
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-11', 'C*', true, 'isNumber')
      label.form__group Вес продукта (брутто), кг
      .row.middle__xs
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-12', 'от', false, 'isNumber')
        .col.col__lg-3.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-13', 'до', false, 'isNumber')
      label.form__group Вдоль направления движения ленты расположена сторона
      .form__group
        +fieldRadio('A', 'radio1', 'radioabcz', false, 'radio--inline')
        +fieldRadio('B', 'radio2', 'radioabcz', false, 'radio--inline')
        +fieldRadio('C', 'radio3', 'radioabcz', false, 'radio--inline')
      label.form__group Высота продукта на ленте равна стороне
      .form__group
        +fieldRadio('A', 'radio11', 'radioabcy', false, 'radio--inline')
        +fieldRadio('B', 'radio21', 'radioabcy', false, 'radio--inline')
        +fieldRadio('C', 'radio31', 'radioabcy', false, 'radio--inline')
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-14', 'Ширина конвейерной ленты, мм', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-15', 'Расстояние между рядами упаковок (по длине ленты), мм:', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-16', 'Производительность, шт/мин', false, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-17', 'Кол-во упаковок в ряду (по ширине ленты), шт:', false, 'isNumber')
      br
      .stepper-next: +btnArrowSub('Шаг 3', 'btn--full')
    h3 3
    section
      h4 Место установки #[br] металлодетектора/окружающая среда/чистка
      .form__group: +fieldLabelTextarea('txt6', 'txt6', 'Краткое описание места установки (цех/участок, какие технологические операции выполняются)', false)
      .form__group: +fieldLabelInputId('id-18', 'Температура окружающей среды, °С', false, 'isNumber')
      .form__group: +fieldLabelInputId('id-19', 'Требования к классу защиты металлодетектора', false)
      h5 Предполагаемый способ чистки металлодетектора
      .form__group
        +fieldCheckbox('Сухая', 'attr31', false, 'checkbox--inline')
        +fieldCheckbox('Влажная', 'attr32', false, 'checkbox--inline')
        +fieldCheckbox('Мойка, низкое давление', 'attr33', false, 'checkbox--inline')
        +fieldCheckbox('Мойка, высокое давление', 'attr35', false, 'checkbox--inline')
        +fieldCheckbox('С применением агрессивных растворов', 'attr37', false, 'checkbox--inline')
      .form__group: +fieldLabelInputId('id-20', 'Растворы', false)
      br
      .stepper-next: +btnArrowSub('Шаг 4', 'btn--full')
    h3 4
    section
      h4 Требования к металлодетектору
      h5 Варианты исполнения
      .form__group
        +fieldCheckbox('Изготовить без конвейера', 'attr51', false, 'checkbox--inline')
        +fieldCheckbox('Изготовить вместе с падающим конвейером', 'attr52', false, 'checkbox--inline')
      h5 Прочие параметры изготавливаемого конвейера
      .form__group: +fieldLabelInputId('id-21', 'Требуемая длина конвейера, мм', false, 'isNumber')
      .form__group: +fieldLabelInputId('id-22', 'Высота начальной секции конвейера (по уровню ленты), мм', false, 'isNumber')
      .form__group: +fieldLabelInputId('id-23', 'Высота конечной секции конвейера (по уровню ленты), мм:', false, 'isNumber')
      .form__group: +fieldLabelInputId('id-24', 'Необходимая длина сетевого кабеля, м', false, 'isNumber')
      h5 Необходимая система отбраковки
      .form__group
        +fieldCheckbox('Остановка конвейера', 'attr41', false, 'checkbox--inline')
        +fieldCheckbox('Система автоматической отбраковки', 'attr42', false, 'checkbox--inline')
      .form__group: +fieldLabelInputId('id-25', 'Другое', false)
      h5 Размещение панели оператора
      .form__group
        +fieldCheckbox('1 - на корпусе блока металлодетектора, слева', 'attr21', false)
        +fieldCheckbox('2 - на выносном пульте управления (ПУ)', 'attr22', false)
      .form__group.input-xs: +fieldLabelInputId('id-26', 'Для варианта 2 укажите предполагаемое расстояние от металлодетектора до выносного ПУ, м:', false)
      .form__group: +fieldLabelTextarea('txt7', 'txt7', 'Дополнительная информация', false)
      br
      .stepper-next: +btnArrowSub('Шаг 4', 'btn--full')
    h3 5
    include ../components/_stepperLast1
