.stepper-btn
  a.btn.btn--default(href='assets/files/card15.pdf', target='_blank')
    span Скачать опросный лист
      br
      small .PDF&nbsp;&nbsp;235 KB.
    i.icon-download
form.steps-form-valid.stepper-two(action='#')
  div
    h3 1
    section
      h4 Материал сепарации
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-1', 'Название*', true)
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-2', 'Производительность, т/ч*', true, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-21', 'Насыпная плотность, т/м³', true, 'isNumber')
        .col.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-22', 'Влажность, %*', true, 'isNumber')
      label.form__group Гранулометрический состав, мм
      .row.middle__xs
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-3', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-4', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-5', 'Доля, %*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-6', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-7', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-8', 'Доля, %*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-9', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-10', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-11', 'Доля, %*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-12', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-13', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-14', 'Доля, %*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-15', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-16', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-17', 'Доля, %*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-18', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-19', 'от*', true, 'isNumber')
        .col.col__lg-4.col__md-6.col__xs-12.form__group: +fieldLabelInputId('id-20', 'Доля, %*', true, 'isNumber')
      label.form__group Применение*
      .form__group
        .checkbox
          input.required(type="checkbox", id='last1', name='last', required='required')
          label.label(for='last1') Удаление мелкой фракции (пыли)
        .checkbox
          input.required(type="checkbox", id='last2', name='last', required='required')
          label.label(for='last2') Разделение по удельному весу
        .checkbox
          input.required(type="checkbox", id='last3', name='last', required='required')
          label.label(for='last3') Очистка материала от посторонних примесей
      .row.middle__xs
        .col.col__xs-12.form__group: +fieldLabelInputId('id-100', 'Иное', false)
      br
      .stepper-next: +btnArrowSub('Шаг 2', 'btn--full')
    h3 2
    include ../components/_stepperLast1
