.stepper-btn
  a.btn.btn--default.popup-modal.popup-with-zoom-anim(href='#call')
    span Скачать опросный лист
      br
      small .PDF&nbsp;&nbsp;235 KB.
    i.icon-download
form.steps-form(action='#')
  div
    h3 1
    section
      h4 Описание продукта и способа его транспортировки
      .form__group
        +fieldLabelInput('text', 'prod', 'prod', 'Продукт', false)
      h5 Свойства продукта
      .form__group
        +fieldCheckbox('Сухой', 'attr1', false, 'checkbox--inline')
        +fieldCheckbox('Влажный', 'attr2', false, 'checkbox--inline')
        +fieldCheckbox('Жидкий', 'attr3', false, 'checkbox--inline')
        +fieldCheckbox('Частично замороженный', 'attr5', false, 'checkbox--inline')
        +fieldCheckbox('Липкий/комкующийся', 'attr6', false, 'checkbox--inline')
      .form__group
        +fieldLabelInput('text', 'temp999', 'temp999', 'Прочие свойства', false)
      .row
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'temp', 'temp', 'Температура продукта, °С', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'pprod', 'pprod', 'Плотность продукта, кг/м3', false)
      h5 Способ подачи продукта
      .form__group
        +fieldCheckbox('Вручную', 'man', false, 'checkbox--inline')
        +fieldCheckbox('Самотек', 'man1', false, 'checkbox--inline')
        +fieldCheckbox('Самотек под давлением', 'man2', false, 'checkbox--inline')
      .form__group
        +fieldLabelInput('text', 'mc', 'mc', 'Другой способ подачи', false)
      .form__group
        +fieldLabelInput('text', 'del', 'del', 'Круглое сечение пневмотранспортера, диаметр мм', false)
      .form__group
        +fieldLabelInput('text', 'del2', 'del2', 'Прямоугольное сечение пневмотранспортера, мм', false)
      .row
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'wid1', 'wid1', 'Высота подачи продукта, мм', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'wid2', 'wid2', 'Производительность, кг/ч', false)
      h5 Для продуктов, транспортируемых поштучно
      .form__group
        +fieldCheckbox('Давление отсутствует', 'pack1', false, 'checkbox--inline')
        +fieldCheckbox('Давление избыточное', 'pack2', false, 'checkbox--inline')
        +fieldCheckbox('Подача с интервалом', 'pack3', false, 'checkbox--inline')
        +fieldCheckbox('Подача пропрорцией', 'pack4', false, 'checkbox--inline')
      .form__group
        +fieldLabelInput('text', 'hei1', 'hei1', 'Степень наполненности самотека', false)
      br
      .stepper-next: +btnArrowSub('Шаг 2', 'btn--full')
    h3 2
    section
      h4 Место установки #[br] металлодетектора/окружающая среда/чистка
      .form__group: +fieldLabelInput('text', 'desc', 'desc', 'Краткое описание места установки: (цех/участок, какие технологические операции выполняются)', false)
      h5 Окружающая среда на месте установки
      .row.middle__xs
        .col.col__md-7.col__xs-12.form__group
          +fieldCheckbox('Сухая', 'attr01', false, 'checkbox--inline')
          +fieldCheckbox('Влажная', 'attr02', false, 'checkbox--inline')
          +fieldCheckbox('Другая', 'attr03', false, 'checkbox--inline')
        .col.col__md-5.col__xs-12.form__group
          +fieldLabelInput('text', 'desc0', 'desc0', 'Опишите', false)
      .row
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'temp0', 'temp0', 'Температура окружающей среды, °С', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'check0', 'check0', 'Требования к классу защиты металлодетектора', false)
      .form__group
        +fieldCheckbox('Сухая', 'attr001', false, 'checkbox--inline')
        +fieldCheckbox('Влажная', 'attr002', false, 'checkbox--inline')
        +fieldCheckbox('Мойка, низкое давление', 'attr003', false, 'checkbox--inline')
      h5 Предполагаемый способ чистки металлодетектора
      .row.middle__xs
        .col.col__md-6.col__xs-12.form__group
          +fieldCheckbox('С применением агрессивных растворов', 'clean1', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'check09', 'check09', 'Растворы', false)
        .col.col__md-6.col__xs-12.form__group
          +fieldCheckbox('Без применения агрессивных растворов', 'clean2', false)
      br
      .stepper-next: +btnArrowSub('Шаг 3', 'btn--full')
    h3 3
    section
      h4 Требования к металлодетектору
      h5 Варианты исполнения
      .form__group
        +fieldCheckbox('Изготовить без рамы', 'cont1', false, 'checkbox--inline')
        +fieldCheckbox('Изготовить на раме', 'cont2', false, 'checkbox--inline')
      h5 Материал конвейера
      .form__group
        +fieldCheckbox('Окрашенная сталь', 'mat01', false, 'checkbox--inline')
        +fieldCheckbox('Нержавеющая сталь', 'mat02', false, 'checkbox--inline')
      .row.middle__xs
        .col.col__xl-2.col__lg-4.col__md-6.col__xs-12.form__group
          +fieldCheckbox('Другая', 'mat03', false, 'checkbox--inline')
        .col.col__lg-4.col__md-6.col__xs-12.form__group
          +fieldLabelInput('text', 'width01', 'width01', 'Опишите', false)
      h5 Электропитание детектора
      .form__group
        +fieldCheckbox('Однофазное 220В ± 10%, частота 60 Гц', '220', false, 'checkbox--inline')
        +fieldCheckbox('Трёхфазное 380В ± 10%, частота 50 Гц', '380', false, 'checkbox--inline')
      .form__group
        +fieldLabelInput('text', 'width9', 'width9', 'Необходимая длина сетевого кабеля, м', false)
      h5 Необходимые системы сигнализации/отбраковки
      .form__group
        +fieldCheckbox('Световая сигнализация', 'sig2', false, 'checkbox--inline')
        +fieldCheckbox('Звуковая сигнализация', 'sig3', false, 'checkbox--inline')
      .form__group
        +fieldCheckbox('Система автоматической отбраковки', 'sig4', false, 'checkbox--inline')
      .form__group: +fieldLabelInput('text', 'other', 'other', 'Другое', false)
      .form__group: +fieldLabelInput('text', 'other', 'other1', 'Материал отбраковывающего устройства', false)
      h5 Монтаж пульта управления
      .form__group
        +fieldCheckbox('Отдельно', 'sig26', false, 'checkbox--inline')
        +fieldCheckbox('На раме', 'sig36', false, 'checkbox--inline')
      br
      .stepper-next: +btnArrowSub('Шаг 4', 'btn--full')
    h3 4
    section
      h4 Варианты расположения панели оператора и отбраковывающего устройства – см. схему:
      h5 Размещение панели оператора
      .form__group
        +fieldCheckbox('1 – на корпусе блока металлодетектора', 'cor1', false, 'checkbox--inline')
        +fieldCheckbox('2 - на выносном пульте управления (ПУ)', 'cor2', false, 'checkbox--inline')
      .form__group: +fieldLabelInput('text', 'var', 'var', 'Для варианта 2 укажите предполагаемое расстояние от металлодетектора до выносного ПУ, м', false)
      h5 Направление отбраковки
      .form__group
        +fieldCheckbox('А - на корпусе метллодетектора', 'cor4', false, 'checkbox--inline')
        +fieldCheckbox('В - отдельно от корпуса металлодетектора', 'cor5', false, 'checkbox--inline')
      .form__group: +img('card/card-1.svg')
      .form__group: +fieldLabelTextarea('txt0', 'txt0', 'Дополнительная информация', false)
      br
      .stepper-next: +btnArrowSub('Шаг 5', 'btn--full')
    h3 5
    include ../components/_stepperLast
