.table--responsive
  table.table.table--bordered
    thead
      tr
        th Обозначение
        th WC-A-200
        th WC-A- 500
        th WC-A-1 500
        th WC-A-3 000
        th WC-A-6 000
        th WC-A-15 000
        th WC-A-30 000
        th WC-A-60 000
    tbody
      tr
        td Максимальный предел взвешивания
        td 2000 г
        td
        td
        td
        td
        td
        td
        td
      tr
        td Дискретность
        td 0,1 г
        td
        td
        td
        td
        td
        td
        td
      tr
        td Погрешность
        td 0,5 г
        td
        td
        td
        td
        td
        td
        td
      tr
        td Производительность
        td 150 шт/мин
        td
        td
        td
        td
        td
        td
        td
      tr
        td Ширина ленты конвеера
        td 200 мм
        td
        td
        td
        td
        td
        td
        td
      tr
        td Длина конвеера
        td 200 мм
        td
        td
        td
        td
        td
        td
        td
      tr
        td Максимальные размеры продукта
        td Длина: 190 мм #[br] Ширина: 76 мм #[br] Высота: 6 мм
        td
        td
        td
        td
        td
        td
        td
      tr
        td Скорость конвеера
        td 15-100 м/мин
        td
        td
        td
        td
        td
        td
        td
      tr
        td Весовой датчик
        td(colspan='8') Тензометрический датчик нагрузки
      tr
        td Панель управления/дисплей
        td(colspan='8') 7-ми дюймовый сенсорный ЖК-экран
      tr
        td Количество запоминаемых позиций
        td 100 позиций
        td
        td
        td
        td
        td
        td
        td
      tr
        td Источник питания
        td(colspan='8') Однофазный 220В ± 10% Гц, с заземлением
      tr
        td Мощность
        td кВт
        td кВт
        td кВт
        td кВт
        td кВт
        td кВт
        td кВт
        td кВт
