.swiper-button
  .swiper-btnS4-prev: i.icon-arrow-right
  .swiper-btnS4-next: i.icon-arrow-right
.trademark-carousel.trademark-carousel4--js
  .swiper-wrapper
    .swiper-slide
      a.catalog-content__item(href='#')
        .catalog-content__item-inner
          .row
            .col.col__md-6.col__xs-12.flex-middle
              +img('about/slide-1.png')
            .col.col__md-6.col__xs-12.flex-column
              .tags
                div #Новинка
              p Стержневой магнитный сепаратор серии СМВР
              .margtop-auto
                ul.list--inline
                  li
                    .tooltip
                      +img('icons/ico-slide-1.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-2.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-3.svg')
                      span.tooltiptext Гарантия соответствия по весу
    .swiper-slide
      a.catalog-content__item(href='#')
        .catalog-content__item-inner
          .row
            .col.col__md-6.col__xs-12.flex-middle
              +img('about/slide-2.png')
            .col.col__md-6.col__xs-12.flex-column
              .tags
                div #Новинка
              p Барабанные магнитные сепараторы серий СМБМ и СМБМ-2
              .margtop-auto
                ul.list--inline
                  li
                    .tooltip
                      +img('icons/ico-slide-1.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-2.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-3.svg')
                      span.tooltiptext Гарантия соответствия по весу
    .swiper-slide
      a.catalog-content__item(href='#')
        .catalog-content__item-inner
          .row
            .col.col__md-6.col__xs-12.flex-middle
              +img('about/slide-3.png')
            .col.col__md-6.col__xs-12.flex-column
              .tags
                div #Новинка
              p Барабанные магнитные сепараторы серий СМБМ и СМБМ-2
              .margtop-auto
                ul.list--inline
                  li
                    .tooltip
                      +img('icons/ico-slide-1.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-2.svg')
                      span.tooltiptext Гарантия соответствия по весу
                  li
                    .tooltip
                      +img('icons/ico-slide-3.svg')
                      span.tooltiptext Гарантия соответствия по весу
